<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "/public/css/login-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;900&display=swap" rel="stylesheet">
    <title>Iniciar sesión</title>
</head>
<body>
    <body>

        <div class="container">
            <div class="header">
                <div class="img-container"><img class= logo src="/public/img/logo.png" alt="Img not found"></div>
                <a href="#" class="a-menu"> Menú </a>
            </div>
            <div class="titulo"> 
                Iniciar sesión
            </div>
            <div class="form-container">
                <form class="login">
                    <p> Correo electrónico</p>
                    <input type="email" name="email"> </form>
                    <p>Contraseña</p>
                    <input type="password" name="password"> </input>
                <button class="login-button" type="submit" name="ingreso">INGRESAR</button>
                <input class="checkbox-box" type="checkbox" value="lsRememberMe" id="rememberMe"> 
                <label class="checkbox-label" for="rememberMe">Recuérdame</label>
                </form>
            </div>
            
            <div class="olvido">
            <div class="correo">
                ¿Olvidó el correo electrónico?
            </div>
            <div class="contraseña">
                ¿Olvidó la contraseña?
            </div>  
        </div>
        <p class="no-account">¿No tiene una cuenta?</p>
        <button class="account-button" type="submit" name="ingreso">CREAR UNA CUENTA

        </button>
</body>
<footer class="pie-de-pagina">
    <p>CarMakers 2022,</p> 
    <div class="container-footer">
    <p>Sobre Nosotros </p>
    <p>Términos y condiciones</p>
    </div>
</footer>    
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                    </html>