*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: fuentelogo;
    src: url(fuentelogo.otf);
}


/*---NAV---*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav h1{
    color:black;
    padding:0;
    margin: 10px 0 0 15px;
    font-family: fuentelogo;
    font-size: 15px;
    position: fixed;
    top: 7px;
    z-index: 5;
}

.menu{
    cursor:pointer;
    margin: 8px 3px 0 0;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    position: fixed;
    right: 5px;
    top:2px;
    z-index: 5;
    background-color: #ececec;
}

.barra-blanca{
    background-color: #ffffff;
    width:100%;
    position:fixed;
    z-index: 4;
}

.enlaces-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right:100px;
    background-color: rgb(255, 255, 255);
    height: 500vh;
    z-index: 20;
    display: none;
}

.enlaces-menu.activado{
    display: block;
}

.enlaces-menu.desactivado{
    display: none;
}

.enlaces-menu li:first-child{
    margin-top:60px;
}


.enlaces-menu li{
    list-style: none;
    margin: 15px 0 0 0;
}

.enlaces-menu li a{
    text-decoration: none;
    color:#6a6a6a;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.cruz{
    position:absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border:none;
    color:#6a6a6a;
}

/*---IMÁGENES----*/

img{
    width: 100%;
}

/*---SLIDER---*/

.carousel, .slide{
    position: relative;
    padding-top: 50px;
}

.texto-principal{
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.nombre-auto{
    font-size: 2em;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
}

.desc-auto{
    font-size: 1em;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.carousel-inner div{
    height: 60vh;
}


/*---SEARCH BAR---*/

.box-container{
    margin: 30px auto 30px auto;
    position:relative;
    width:80%;
    max-width: 400px;
    background-color:#ececec;
    padding: 7px;
    border-radius: 5px;
}

.elements-container{
    display: flex;
    width:100%;
    vertical-align: center;
}

.search{
    border:none;
    width:100%;
    padding: 0 5px;
    background-color:#ececec;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:#6a6a6a;
}

.search:focus{
    outline: none;
}

.boton-lupa{
    border:none;
    background-color:transparent;
    color: #6a6a6a;
}

/*---ICONO-ARROW---*/

.icon-arrow{
    font-size: 20px;
    text-align: center;
    margin-top:10px;
    margin-bottom: 20px;
}

.icon-arrow a{
    color:white;
}

.icon-arrow-uno{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.icon-arrow-uno a{
    color:#6a6a6a;
}


/*---WPP BOTON---*/

.article-wpp{
    display: flex;
    flex-direction:row-reverse;
    position: fixed;
    top: 200px;
    right: -13px;
    z-index: 12;
    display: none;
}

.wpp-container{
    width: 60px;
    display: flex;
    flex-direction:row-reverse;
    
}

.wpp-container button{
    border:none;
    border-radius: 10px;
    padding: 5px 15px 5px 5px;
    background-color: #37b2ed;
}

/*---MAIN SECTION INDEX---*/

#main-section-index{
    width:100%;
    min-height: 100vh;
}


/*---SECCIÓN 1---*/

#seccion-uno{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/blue.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.botones{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.saber-mas{
    padding: 7px;
    margin-bottom: 15px;
    border:none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:white;
    background-color: #ed7237;
    width: 80%;
}

.compra-ahora{
    padding: 7px;
    border:none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: #ececec;
    width: 80%;
}

.texto-uno{
    text-align: center;
    position:relative;
    top: 100px;
}

.nombre-auto-uno{
    font-size: 2em;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.desc-auto-uno{
    font-size: 1em;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

/*---SECCIÓN 2---*/

#seccion-dos{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/black.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/*---SECCIÓN 3---*/

#seccion-tres{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/red.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


/*---SECCIÓN 4---*/

#seccion-cuatro{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/puente.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/*---SECCIÓN 5---*/

#seccion-cinco{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/white.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


/*---CINCO PASOS---*/

.cincopasos{
    padding-right:30px;
    padding-left:30px;
}

.cincopasos h6{
    text-align: center;
    padding: 100px 0px 30px 0px;
    font-size: 20px;
}

.ambos-container{
    border: solid #687c99 1px;
    border-radius: 40px;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto 100px auto;
}

.grid-item{
    font-size: 10px;
}

.grid-container-uno{
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight: 500;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 25px 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}


.grid-container-dos{
        font-family: 'Raleway', sans-serif;
        color:black;
        font-weight: 500;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 25px 1fr;
        grid-gap: 5px;
        text-align: center;
        grid-row-gap: 20px;
}

.grid-container-uno div i, .grid-container-dos div i{
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.span-num{
    padding: 5px 0 5px 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: #687c99; 
    font-weight: 500;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.right-arrow i{
    font-size: 25px;
    color: #ed7237;
}

.fa-car, .fa-clipboard-check, .fa-building, .fa-hand-holding-dollar, .fa-people-carry-box{
    color: black;
}



/*---FOOTER---*/

footer{
    background-color: #ececec;
}

.carmakers{
    padding:10px 0 0 10px;
    margin:0;
    font-family: fuentelogo;
    font-size: 15px;
}


footer div div a img{
    width:40px;
}


.email, .terminos input, .terminos label{
    margin-bottom: 5px;
}

.derechos{
    margin:0;
    padding:0;
}

.form-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    margin: 50px auto;
}

.form-footer h5{
    text-align: center;
    padding-bottom:5px;
}

.suscribirme{
    padding: 10px;
    border:none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #ed7237;
    color: white;
}

.email{
    border:none;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.email:focus{
    outline-color: #ed7237;
}


.social-media h5{
    text-align: center;
    margin-top: 30px;
}

.iconos{
    width:70%;
    display: flex;
    margin: 0 auto;
}

.iconos a{
    padding: 5px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.links a{
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: #6a6a6a;
    font-size: 80%;
}

.copy{
    display: flex;
    justify-content: center;
}

.copy p{
    font-size: 80%;
}

.derechos{
    color:#939393;
}

/*---DETALLE DEL PRODUCTO---*/

.foto-principal{
    width:80%;
    margin:110px 0 50px 0;
    padding:0;
    max-width: 800px;
}

.main-article{
    text-align: center;
}

.modelo-delivery{
    margin: 0 0 40px 0;
}

/*TÍTULO*/

main section article div h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:2em;
    padding: 0 50px;

}

main section article div h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size:1.3em;
    color:#939393;
}

/*CARACTERÍSTICAS*/

.caracteristicas{
    margin: 100px 0 0 0;
}

.caracteristicas h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1.6em;
}

.caracteristicas h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size:1.2em;
    color:#939393;
    margin-bottom: 40px;
}

.precio-auto{
    display: flex;
    justify-content: center;
    border: solid 1.8px grey;
    border-radius: 30px;
    width:80%;
    margin: 0 auto;
    padding:10px;
}

.precio, .numero{
    margin:0;
}

/*PINTURA Y RUEDAS*/

.auto-pintura, .auto-ruedas{
    width:80%;
    margin:80px auto 50px auto;
    padding:0;
    max-width: 800px;
}

.article-pintura h4, .article-ruedas h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:2em;
    padding: 5px 50px 0 50px;
    margin-bottom:30px;
}

.flex-circle{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 2.3em;
    max-width: 250px;

}

.flex-circle-dos{
    display: flex;
    justify-content: space-around;
    font-size: 2.3em;
    max-width: 100px;
    margin: 0 auto;
}

.desc-color, .desc-ruedas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.color-pintura, .nombre-rueda, .precio{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:1.1em;
    margin-right: 5px;
}

.precio-pintura, .precio-rueda, .numero{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size:1.1em;
    color:#6a6a6a;
    margin-left:5px;
}

/*BOTÓN*/

.add a button{
    border:none;
    border-radius: 30px;
    padding:15px;
    margin: 40px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #ed7237;
    color: white;
    width:80%;

}

.add{
    margin-bottom: 50px;
}

/*CÍRCULOS*/

#plateado{
    color: #eeeeee;
}

#gris-oscuro{
    color: #525252;
}

#azul{
    color: #195abb;
}

#negro{
    color: #000000;
}

#rojo{
    color: #ca1a1a;
}



/*TEXTO SUPERIOR*/

.flex-texto{
    background-color: #ececec;
    width:90%;
    padding: 15px 15px 5px 35px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    top: 70px;
    text-align: left;
}

.flex-texto i{
    position:relative;
    right: 12px;
    top: 2px;
    color:#d23c00;
}


/*---CARRITO---*/


/*SECCIONES*/

.mis-compras{
    width: 90%;
    padding: 90px 0 0 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 auto;
}

.main-section{
    border-top: #939393 solid 1px;
    border-bottom: #939393 solid 1px;
    padding: 40px 0;
    margin: 40px auto;
    width:90%;

}


.flexbox-seccion{
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
}

.flexbox-seccion-dos{
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.nombre-imagen{
    display: flex;
    justify-content: left;
}

.flex-img{
    width: 30%;
    border: #939393 solid 1px;
    max-width: 200px;
}

.flex-nombre-desc h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
}

.flex-nombre-desc h4{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #939393;
    padding: 0 20px;
}

.flex-icono-precio h5{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin:0;
    color: #939393;
}

.flex-icono-precio i{
    margin:0;
    padding:0;
    text-align: right;
}

.flex-icono-precio{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin:0;
}

/*FORMULARIO*/


.resumen-compra{
    width: 90%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 auto 20px auto;
}

.cupon-descuento{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.cupon-descuento label{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.cupon-descuento input{
    max-width: 280px;
    padding: 5px;
}

.flex-giftcard{
    display: flex;
    max-width: 90%;
}

.flex-giftcard input {
    max-width:100px;
    margin-right: 8px;
}

.giftcard{
    font-family: 'Roboto', sans-serif;
    margin: 15px 0 10px 0;
}


.flex-envio{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #939393;
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.flex-impuesto{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #939393;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.flex-total{
    font-family: 'Raleway', sans-serif; 
    margin: 15px 0 10px 0;
    color: #6a6a6a;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.flex-total h4{
    font-weight: 600;
}

.form-carrito{
    margin: 0 auto 0 auto;
    width: 90%;
}

.contacto{
    border:none;
    background-color: #ed7237;
    color: white;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    padding:8px;
}

.div-boton{
    text-align: center;
    width: 100%;
    margin: 20px auto 50px auto;
}

/*FOOTER-CARRITO*/

#footer-carrito{
    background-color: white;
}

.copy-carrito{
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    color: #6a6a6a;
}

.car-carrito{
    margin-top: 100px;
    margin-bottom: 0;
}

.links-carrito{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

.links-carrito a{
    text-decoration: none;
    color: #6a6a6a;
}

/*--LOG IN---*/

.titulo-login{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 90px;
    padding-bottom: 10px;
}

.correo-contra{
    display:flex;
    flex-direction: column;
}

.label-contra, .label-correo{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 15px;
    color:#6a6a6a;
}

#correo, #contraseña{
    background-color: #ececec;
    border-radius: 20px;
    margin: 5px auto 0 auto;
    width: 100%;
    padding: 10px;
    border:none;
}

#correo:focus, #contraseña:focus{
    outline-color: #c7c7c7;
}

.form-container{
    width: 90%;
    margin: 0 auto;
}

.form-login{
    width: 80%;
    margin: 0 auto;
}

.single-column{
    max-width: 410px;
    margin: 0 auto 0 auto;
    padding: 0;
}

.recuerdame{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 0 10px;
}

.checkbox-label{
    padding-left: 3px;
}

.login-button{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border:none;
    color:white;
    background-color: #9bbae6;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;

}

.olvido{
    display:flex;
    margin-top: 20px;
    justify-content: center;
}

.olvido div a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#6a6a6a;
    text-align: center;
}

.olvido-correo{
    text-align: center;
    margin-right: 10px;
    padding-left: 10px;
}

.olvido-contraseña{
    text-align: center;
    padding-right: 10px;
}

.no-account{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#6a6a6a;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.account-button{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    border:solid 2px black;
    margin-top:20px;
    font-weight: 600;
}

.boton-crear-cuenta{
    text-align: center;
}


/*---MEDIA QUERIES---*/


@media (min-width: 400px){

    .grid-container-dos{
        font-family: 'Raleway', sans-serif;
        color:black;
        font-weight: 500;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 25px 1fr 25px 1fr;
        grid-gap: 5px;
        text-align: center;

}
}

@media (min-width: 600px){

}