*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}

@font-face {
    font-family: fuentelogo;
    src: url(fuentelogo.otf);
}



/*---NAV---*/

/*MENU FLEX*/

.container-blur{
    transition: all 500ms ease-in-out;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index: 100;
    display: block;
    opacity: 0;
    visibility: hidden;
}

#filter{
    transition: all 500ms ease-in-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
    opacity: 0;
    display: block;
    visibility: hidden;
}

.enlaces-menu{
    transition: all 500ms ease-in-out;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: -150px;
    padding-right: 6%;
    padding-left: 35px;
    background-color: rgb(255, 255, 255);
    box-shadow:  rgba(0, 0, 0, 0.2) -50px 10px 100px;
    height: 100vh;
    z-index: -400;
    opacity: 0;
}

#ocultar-nav li{
    opacity: 0;
}

.enlaces-menu.activado{
    z-index: 400;
    right: 0px;
    opacity: 1;
}

.enlaces-menu li:first-child{
    margin-top: 100px;
}

.compras-boton, .login-boton{
    display: none;
}


.enlaces-menu li{
    list-style: none;
    margin: 10px 0 0 0;
    padding: 3px 15px;
}


.enlaces-menu li a{
    font-size: 15px;
    text-decoration: none;
    color:#313131;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    display: inline-block;
}

@keyframes muestraCruz{
    from{opacity:0}
    to{opacity:1}
}

.cruz{
    opacity:1;
    z-index: 500;
    font-size: 20px;
    position:fixed;
    right: 30px;
    top: 30px;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 50%;
    border:none;
    color:#313131;
    transition: all 0.3s ease-in-out;
    display: none;
}

.cruz.activado{
    display: block;
    animation: muestraCruz 500ms ease-in-out both;
}

.container-blur.activado{
    visibility: visible;
    opacity:1;
}

#filter.activado{
    visibility: visible;
    opacity:1;
}

/*NAV COMUN*/

.ul-enlaces{
    display:none;
}

nav ul li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: transparent;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.ul-enlaces{
    margin:0;
    padding:0;
}

.ul-enlaces li{
    list-style: none;
    display: inline-block;
}

.ul-enlaces li a{
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.ul-botones-menu{
    list-style: none;
    margin:0;
    padding:0;
}

.ul-botones-menu li{
    display: inline-block;
}

.ul-botones-menu li button{
    margin:0;
    background-color: transparent;
    border:none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.ul-botones-menu li button a{
    margin:0;
    padding:0;
    text-decoration: none;
    color:black;
    padding: 4px 10px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.menu-boton{
    background-color: rgb(233, 233, 233);;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding:0;
    margin:0;
}

.menu-boton button{
    padding: 4px 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    position:fixed;
    z-index: 90;
    background-color: #ffffff;
    width:100%;
}


.carmakers-nav{
    margin:0;
    padding:0;
    text-decoration: none;
}

.sombra-nav{
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 8px 25px;
}

.carmakers-nav h1{
    font-size: 15px;
    margin:0;
    padding:0;
    color:#11151a;
    font-family: fuentelogo;
}


/* FOOTER RESUMIDO */


.footerResumido {
    margin-top: auto;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top:50px;
    font-family: 'Raleway', sans-serif; 
    color: #6a6a6a;
    font-size: 15px;
    background-color: white;
}

.footerResumido div p{
    margin:0;
    padding:0;
    text-align: center;
}

.body-login{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.links-footer{
    text-align: center;
}

.links-footer a{
    text-decoration: none;
    color: #6a6a6a;
    margin-right: 10px;
}


/*---IMÁGENES----*/

img{
    width: 100%;
}

/*---SLIDER---*/

.carousel, .slide{
    position: relative;
    padding-top: 50px;
}

.texto-principal{
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.nombre-auto{
    font-size: 2em;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
}

.desc-auto{
    font-size: 1em;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}


#banner-uno{
    object-fit:fill;
}


/*---SEARCH BAR---*/

.box-container{
    margin: 30px auto 30px auto;
    position:relative;
    width:80%;
    max-width: 400px;
    background-color:#ececec;
    padding: 7px;
    border-radius: 5px;
}

.elements-container{
    display: flex;
    width:100%;
    vertical-align: center;
}

.search{
    border:none;
    width:100%;
    padding: 0 5px;
    background-color:#ececec;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:#313131;
}

.search:focus{
    outline: none;
}

.boton-lupa{
    border:none;
    background-color:transparent;
    color:#313131;
}

/*---ICONO-ARROW---*/

.icon-arrow{
    font-size: 20px;
    text-align: center;
    margin-top:10px;
    position:relative;
    bottom: 150px;
    animation: arrow-movement 2s infinite;
}

.icon-arrow a{
    color:white;
}


/*ICONO ARROW MAIN*/

.icon-arrow-main{
    font-size: 20px;
    text-align: center;
    animation: arrow-movement 2s infinite;
    margin: 30px;
}

.icon-arrow-main a i{
    color:#313131;
}


/*---WPP BOTON---*/

.article-wpp{
    display: flex;
    flex-direction:row-reverse;
    position: fixed;
    top: 200px;
    right: -13px;
    z-index: 12;
    display: none;
}

.wpp-container{
    width: 60px;
    display: flex;
    flex-direction:row-reverse;
    
}

.wpp-container button{
    border:none;
    border-radius: 10px;
    padding: 5px 15px 5px 5px;
    background-color: #37b2ed;
}

/*---MAIN SECTION INDEX---*/

#main-section-index{
    width:100%;
}


/*---SECCIÓN 1---*/

#seccion-1{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/editada1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin:0;
    padding:0;
}

.botones{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.botones-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:relative;
    bottom: 140px;
}

.saber-mas{
        padding: 7px;
        border:none;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color:white;
        background-color: #ed7237;
        width: 250px;
        margin-bottom: 20px;
}

.compra-ahora{
        padding: 7px;
        border:none;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: rgb(0, 0, 0);
        background-color: #ececec;
        width: 250px;
}

.texto-uno{
    text-align: center;
    position:relative;
    top: 100px;
}

.nombre-auto-uno{
    font-size: 2em;
    color:#11151a;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.desc-auto-uno{
    font-size: 1em;
    color:#11151a;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.desc-auto-uno a{
    font-size: 1em;
    color:#11151a;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

/*---SECCIÓN 2---*/

#seccion-2{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/editada2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/*---SECCIÓN 3---*/

#seccion-3{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/editada3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


/*---SECCIÓN 4---*/

#seccion-4{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/editada4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/*---SECCIÓN 5---*/

#seccion-5{
    width:100%;
    min-height: 100vh;
    background-image: url(/imgs/editada5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


/*---CINCO PASOS---*/

.uno-container{
    display:none;
}

.cincopasos{
    padding-right:30px;
    padding-left:30px;
}

.cincopasos h6{
    text-align: center;
    padding: 100px 0px 30px 0px;
    font-size: 20px;
}

.ambos-container{
    border: solid #000000 1px;
    border-radius: 40px;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto 100px auto;
}

.grid-item{
    font-size: 12px;
}

.grid-container-uno{
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight: 500;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 25px 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}


.grid-container-dos{
        font-family: 'Raleway', sans-serif;
        color:black;
        font-weight: 500;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 25px 1fr;
        grid-gap: 5px;
        text-align: center;
        grid-row-gap: 20px;
}

.grid-container-uno div i, .grid-container-dos div i{
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.span-num{
    padding: 5px 0 5px 0;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #000000; 
    font-weight: 500;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.right-arrow i{
    font-size: 25px;
    color: #ed7237;
}

.fa-car, .fa-clipboard-check, .fa-building, .fa-hand-holding-dollar, .fa-people-carry-box{
    color: black;
}



/*---FOOTER---*/


.footer-nav{
    background-color: #ececec;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

footer{
    background-color:#ececec;
}

.div-footer{
    background-color: #ffffff;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 20px rgb(204, 204, 204);
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    margin: 0 auto;
}

.form-footer{
    margin: 0 auto;
}


.form-footer h5, .email, .form-footer button{
    width: 90%;
    margin: 0 auto;
}
    
.form-footer h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.email{
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border:solid 1px black;
    background-color: white;
}

.email:focus{
    outline-color: #b3b3b3;
}

.form-footer button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black solid 2px;
    background-color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
}

.footer-item{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-item div h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
}

.iconos{
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.iconos a{
    padding: 0 10px;
    color: black;
    transition: all 0.1s ease-in-out;
}

.links-nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.links-nav a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 5px 0;
    color:black;
    transition: all 0.1s ease-in-out;
}

.copy-nav{
    background-color: #ececec;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}

.copy-nav p{
    margin:0;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/*---DETALLE DEL PRODUCTO---*/

.foto-principal{
    width:80%;
    margin:110px 0 50px 0;
    padding:0;
    max-width: 800px;
}

.main-article{
    text-align: center;
}

.modelo-delivery{
    margin: 0 0 40px 0;
}

.slider-vh{
    display: none;
}


/*TÍTULO*/

main section article div h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:2em;
    padding: 0 50px;

}

main section article div h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size:1.3em;
    color:#939393;
}

/*CARACTERÍSTICAS*/

.caracteristicas{
    margin: 80px 0 0 0;
}

.caracteristicas h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1.6em;
}

.caracteristicas h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size:1.2em;
    color:#939393;
    margin-bottom: 40px;
}

.precio-auto{
    display: flex;
    justify-content: center;
    border: solid 1.8px grey;
    border-radius: 30px;
    width:80%;
    margin: 0 auto;
    padding:10px;
}

.precio, .numero{
    margin:0;
}

/*PINTURA Y RUEDAS*/

.auto-pintura, .auto-ruedas{
    width:80%;
    margin:80px auto 50px auto;
    padding:0;
    max-width: 800px;
}

.article-pintura h4, .article-ruedas h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:2em;
    padding: 5px 50px 0 50px;
    margin-bottom:30px;
}

.flex-circle{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 2.3em;
    max-width: 250px;

}

.flex-circle-dos{
    display: flex;
    justify-content: space-around;
    font-size: 2.3em;
    max-width: 100px;
    margin: 0 auto;
}

.desc-color, .desc-ruedas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.color-pintura, .nombre-rueda, .precio{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:1.1em;
    margin-right: 5px;
}

.precio-pintura, .precio-rueda, .numero{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size:1.1em;
    color:#6a6a6a;
    margin-left:5px;
}

/*BOTÓN*/

.add a button{
    border:none;
    border-radius: 30px;
    padding:15px;
    margin: 40px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #ed7237;
    color: white;
    width:80%;

}

.add{
    margin-bottom: 50px;
}

/*CÍRCULOS*/

#plateado{
    color: #eeeeee;
}

#gris-oscuro{
    color: #525252;
}

#azul{
    color: #195abb;
}

#negro{
    color: #000000;
}

#rojo{
    color: #ca1a1a;
}



/*TEXTO SUPERIOR*/

.flex-texto-2{
    display: none;
}

.flex-texto{
    background-color: #ececec;
    width:90%;
    padding: 15px 15px 5px 35px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    top: 70px;
    text-align: left;
}

.flex-texto i{
    position:relative;
    right: 12px;
    top: 2px;
    color:#d23c00;
}


/*---CARRITO---*/


/*SECCIONES*/

.mis-compras{
    width: 90%;
    padding: 90px 0 0 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 auto;
}

.main-section{
    border-top: #939393 solid 1px;
    border-bottom: #939393 solid 1px;
    padding: 40px 0;
    margin: 40px auto;
    width:90%;

}

.flexbox-seccion{
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
}

.flexbox-seccion-dos{
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.nombre-imagen{
    display: flex;
    justify-content: left;
}

.flex-img{
    width: 100%;
    border: #939393 solid 1px;
    max-width: 120px;
}

.flex-nombre-desc h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
}

.flex-nombre-desc h4{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #939393;
    padding: 0 20px;
}

.flex-icono-precio h5{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin:0;
    color: #939393;
}

.flex-icono-precio i{
    margin:0;
    padding:0;
    text-align: right;
}

.flex-icono-precio{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin:0;
}

.mis-compras-dos{
    display: none;
}

/*FORMULARIO*/


.resumen-compra{
    width: 90%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 auto 20px auto;
}

.cupon-descuento{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cupon-descuento label{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.cupon-descuento input{
    padding: 5px;
}

.flex-giftcard{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
}

.flex-giftcard input {
    width: 100%;
    padding: 5px;
}

.giftcard{
    font-family: 'Roboto', sans-serif;
    margin: 15px 0 10px 0;
}

.flex-total{
    font-family: 'Raleway', sans-serif; 
    margin: 15px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.flex-total h4{
    font-weight: 600;
}

.form-carrito{
    margin: 0 auto 0 auto;
    width: 90%;
}

.contacto{
    border:none;
    font-size: 15px;
    background-color: #ed7237;
    color: white;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    width:100%;
    padding: 8px;
}

.div-boton{
    text-align: center;
    width: 100%;
    margin: 20px auto 50px auto;
}


.flex-total{
    font-family: 'Raleway', sans-serif; 
    margin: 15px 0 10px 0;
    color: #888888;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.flex-total h4{
    color:black;
    font-weight: 600;
    font-size: 20px;
}

.checkout h6{
    color: #888888;
    font-weight: 400;
}

.flex-total h5{
    color: #888888;
}

.checkout h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top:15px;
    font-size: 20px;
    color: #000000;
}

/*FOOTER-CARRITO*/

#footer-carrito{
    background-color: white;
    position: relative;
    padding: 0px 0 20px 0;
    top: 23vh;
    text-align: center;
    width: 100%;
}

.copy-carrito{
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif; 
    color: #6a6a6a;
}

.car-carrito{
    margin-top: 100px;
    margin-bottom: 0;
}

.links-carrito{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.links-carrito a{
    text-decoration: none;
    color: #6a6a6a;
    margin-right: 10px;
}

/*--LOG IN Y REGISTER---*/

.titulo-login{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 90px;
    padding-bottom: 10px;
}

.correo-contra{
    display:flex;
    flex-direction: column;
}

.label-contra, .label-correo{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 15px;
    color:#6a6a6a;
}

#correo, #contraseña, #idProducto, #descripcionProducto, #nombre, #nombreProducto, #apellido, #caracteres, #autonomia, #velocidadMaxima, #tiempoDeCeroCien, #ingreso, #precio, #idModelo, #nombreModelo, #descripcion, #deliveryEstimado{
    background-color: #ececec;
    border-radius: 20px;
    margin: 5px auto 0 auto;
    width: 100%;
    padding: 10px;
    border:none;
}

#imgModelo{
    border-radius: 20px;
    margin: 5px auto 0 auto;
    width: 100%;
    padding: 10px;
    border:none;
}

#correo:focus, #contraseña:focus, #nombre:focus, #apellido:focus, #caracteres:focus{
    outline-color: #c7c7c7;
}

.form-container{
    width: 90%;
    margin: 0 auto;
}

.form-login{
    width: 80%;
    margin: 0 auto;
}

.single-column{
    max-width: 410px;
    margin: 0 auto 0 auto;
    padding: 0;
}

.recuerdame{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 0 10px;
}

.privacidad{
    font-family: 'Roboto', sans-serif;
    margin: 30px 0 30px 10px;
    display: flex;
    max-width: 96%;
}

.privacidad label span{
    text-decoration: underline;
    font-weight: 500;
}

.correo-contra img{
    width:100%;
}

#aceptar-terminos{
    position:relative;
    top:5px;
    margin-right: 5px;
}

.checkbox-label{
    padding-left: 3px;
}

.login-button{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border:none;
    color:white;
    background-color: #9bbae6;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;

}

.register-button{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border:none;
    color:white;
    background-color: #9bbae6;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 30px 0 0 0;

}

.olvido{
    display:flex;
    margin-top: 20px;
    justify-content: center;
}

.tiene-cuenta{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 20px auto;
    font-weight: 400;
    text-decoration:none;
    color:#6a6a6a;
    text-align: center;
}

.tiene-cuenta-div{
    margin: 10px auto;
    text-align: center;
}

.olvido div a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#6a6a6a;
    text-align: center;
}

.olvido-correo{
    text-align: center;
    margin-right: 10px;
    padding-left: 10px;
}

.olvido-contraseña{
    text-align: center;
    padding-right: 10px;
}

.no-account{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#6a6a6a;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.account-button{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    border:solid 2px black;
    font-weight: 600;
}

.boton-crear-cuenta{
    text-align: center;
}

.account-button a, .account-button a{
    text-decoration: none;
    color: black;
}

/*---EDICION PRODUCTO---*/

#imgProducto, #imgPerfil {
    background-color: white;
    border-radius: 20px;
    margin: 5px auto 0 auto;
    width: 100%;
    padding: 10px;
    border:none;
} 

/*---PRODUCTOS---*/

.main-inv{
    height:90vh;
}

.seccion-inv{
    background-color: #ececec;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 75vh;
}

.form-inv{
    margin-top: 20px;
}

.inventario{
    padding: 60px 0 0 20px;
}

.form-inv h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding:0;
    margin: 25px auto 5px auto;
    max-width: 70%;
}

.interests{
    max-width: 70%;
    margin: 0 auto;
}

.interests label{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/*FOR PRODUCTOS */

.productos-article img {
    max-width: 300px;
    border: solid black 2px;
}

.productos-article{
    background-color: white;
    width: 95%;
    padding: 40px 0 40px 0;
    height: 95%;
    margin: auto auto;
    display: grid;
    border-radius: 20px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    row-gap: 20px;
    overflow-y: scroll;
}


.div-producto{
    margin: 0 auto;
}

.div-producto h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:black;
    margin: 10px 0 0 0;
    padding:0;
}

.div-producto h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:rgb(128, 128, 128);
    margin: 3px 0 0 0;
    padding:0;
}

.div-producto a{
    text-decoration: none;
}


/*FOOTER PRODUCTOS*/

#footer-productos{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.copy-carrito{
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif; 
    color: #6a6a6a;
}

.car-productos{
    margin-top: 0;
    margin-bottom: 0;
}

.links-productos{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.links-productos a{
    text-decoration: none;
    color: #6a6a6a;
    margin-right: 10px;
}

/*--FUERA DE SERVICIO--*/

.ohoh{
    padding: 100px 0 0 0;
    text-align: center;
}


.losentimos{
    padding: 5px 0 0 0;
    text-align: center;
}

/*--USUARIOS--*/

.main-usu h1{
    padding: 50px 0 0 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24x;
    font-weight: 500;
    color:black;
}

.usuarios-article{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    grid-gap: 15px;
}

/*---PERFIL---*/
.perfil{
    margin: 0 auto;
    text-align: center;
}
.perfil h1{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color:black;
}

.perfil h2{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight: 400;
    color:black;
}

.perfil div img{
    width: 15%;
    border-radius: 50%;
    margin-top: 100px;
}

.perfil button a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border:none;
    color:black;
    background-color: #9bbae6;
    border-radius: 20px;
    padding: 10px;

}

.perfil button{
    border:none;
    background-color: transparent;
    margin-top: 30px;
}

/*---ERRORES---*/

.text-danger{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-weight: 500;
}



/*---ANIMACIONES---*/

@keyframes arrow-movement{
    0% { bottom: 145px}
    50% { bottom: 155px}
    100% { bottom: 145px}
}


/*---MEDIA QUERIES---*/


@media (min-width: 400px){

.grid-container-dos{
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight: 500;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 25px 1fr 25px 1fr;
    grid-gap: 5px;
    text-align: center;
}

.saber-mas, .compra-ahora{
    width: 350px;
}

.texto-uno{
    top: 110px;
}

/*FOOTER*/

.iconos{
    max-width:350px;
}

.form-footer{
    max-width: 350px;
}
}

@media (min-width: 600px){

    .compras-boton, .login-boton{
        display: inline-block;
    }    

    .menu-boton{
        background-color: transparent;
    }

    .texto-uno{
        top: 130px;
    }

    .saber-mas{
        padding: 10px;
        margin-bottom: 15px;
        margin-right: 12px;
        border:none;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color:white;
        background-color: #ed7237;
        width: 250px;
    }

    .compra-ahora{
        margin-left: 12x;
        padding: 10px;
        border:none;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: rgb(0, 0, 0);
        background-color: #ececec;
        width: 250px;
    }

    .botones{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }

    .botones-container{
        bottom: 160px;
    }

}


@media (min-width:900px){


/*CINCO PASOS*/

 .ambos-container{
    display: none;
}
   

.uno-container{
   display: block;
   border: solid #000000 1px;
   border-radius: 40px;
   padding-top: 30px;
   padding-bottom:25px;
   margin: 0 auto 100px auto;
   max-width: 900px;
}
   
.cincopasos{
   padding: 0 30px 0 30px;
}

.cincopasos h6{
   text-align: center;
   padding: 100px 0px 30px 0px;
   font-size: 20px;
}


.grid-item{
   font-size: 15px;
}

.container-estilo{
   font-family: 'Raleway', sans-serif;
   color:black;
   font-weight: 500;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
   grid-gap: 0px;
   text-align: center;
   
}

.container-estilo div i{
   font-size: 2em;
   display: flex;
   justify-content: center;
}


.span-num{
   padding: 5px 0 5px 0;
   font-size: 20px;
   font-family: 'Raleway', sans-serif;
   color: #000000; 
   font-weight: 500;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.right-arrow i{
   font-size: 5px;
   color: #ed7237;
}

.fa-car, .fa-clipboard-check, .fa-building, .fa-hand-holding-dollar, .fa-people-carry-box{
   color: black;
}


/*BOTONES*/
    .saber-mas{
        padding: 12px;
        margin-bottom: 15px;
        margin-right: 15px;
        width: 300px;
    }

    .compra-ahora{
        margin-left: 15x;
        padding: 12px;
        width: 300px;
    }


    .botones-container{
        bottom: 200px;
    }

    .texto-uno{
        top: 140px;
    }

    .nombre-auto-uno{
        font-size: 3em;
    }
    
    .desc-auto-uno{
        font-size: 1.1em;
    }
    
    .desc-auto-uno a{
        font-size: 1.1em;
    }


    .icon-arrow{
        font-size: 20px;
        text-align: center;
        margin-top:10px;
        position:relative;
        bottom: 185px;
    }

    @keyframes arrow-movement{
        0% { bottom: 185px}
        50% { bottom: 180px}
        100% { bottom: 185px}
    }


/*--NAVEGADOR--*/
.ul-enlaces{
    display:block;
}

 /*CARRITO*/

 .main-carrito{
    display:grid;
    grid-template-columns: 60% 40%;
    column-gap: 20px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.mis-compras{
    display: none;
}

.mis-compras-dos{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}


.main-section{
    border-top: none;
    border-bottom: none;
    padding: 0px 0;
    margin: 0 auto;
    width:90%;
}

.mis-compras-dos{
    display: block;
}


/*DETALLE DE PRODUCTO*/

.flex-texto{
    display: none;
}

.flex-texto-2{
    display: block;
}


.flex-texto-2{
    background-color: #ececec;
    width:90%;
    padding: 15px 15px 5px 35px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    top: 70px;
    text-align: left;
}

.flex-texto-2 i{
    position:relative;
    right: 12px;
    top: 2px;
    color:#d23c00;
}


.main-article img{
    display: none;
}

.slider-vh{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#main-detalle{
    display: grid;
    grid-template-columns: 75% 25%;
}

.modelo-delivery h2{
    margin-top: 120px;
}


.scroll{
    height: 100vh;
    overflow-y: scroll;
}

@media (min-width: 1000px){

/*FOOTER*/

.footer-nav{
    background-color: #ececec;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1400px;
}

.form-footer{
    margin: 0 auto;
}

.div-footer{
    background-color: #ffffff;
    width: 35%;
    box-shadow: 0px 0px 20px rgb(204, 204, 204);
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    margin: 0 0 0 5%;
}

.form-footer h5, .email, .form-footer button{
    width: 80%;
    margin: 0 auto;
}


.form-footer h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.email{
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border:solid 1px black;
    background-color: white;
}
.links-nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.links-nav a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 5px 0;
    color:black;
    transition: all 0.1s ease-in-out;
}

.footer-item{
    margin: 0 5% 0 0;
    display: flex;
    align-items: center;
}

.form-footer button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black solid 2px;
    background-color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
}

}


}

 @media (min-width: 1500px){
    .main-carrito{
        max-width: 1200px;
    }
 }

/*---HOVER---*/

.ul-enlaces li a:hover, .enlaces-menu li a:hover,.ul-botones-menu li button a:hover, .menu-boton:hover{
    background-color: rgb(233, 233, 233);
}

nav a:hover{
    color:black;
}

.cruz:hover{
    background-color: rgb(233, 233, 233);
}

.iconos a:hover, .links-nav a:hover{
    color: rgba(0, 0, 0, 0.7);
}

.form-footer button:hover{
    color:black;
    border: black solid 2px;
    background-color: transparent;
}