<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-prueba2')%>
    <%- include('./partials/menuResponsive')%>

    <main class="main-carrito">

        <h2 class="mis-compras">Mis compras</h2>

        <section class="main-section">

            <h2 class="mis-compras-dos">Mis compras</h2>

            <div class="flexbox-seccion">

            <div class="nombre-imagen">

                <div class="flex-img">
                    <img src="\imgs\producto.jpg" alt="Foto del producto a comprar">
                </div>
                
                <div class="flex-nombre-desc">
                    <h3>Nombre del producto</h3>
                    <h4>Descripción y detalles de la compra.</h4>
                </div>

            </div>

                
                <div class="flex-icono-precio">
                    <i class="fa-solid fa-xmark"></i>
                    <h5>Precio</h5>
                </div>
                
            </div>



            <div class="flexbox-seccion-dos">

            <div class="nombre-imagen">

                <div class="flex-img">
                    <img src="\imgs\producto2.jpg" alt="Foto del producto a comprar">
                </div>
                
                <div class="flex-nombre-desc">
                    <h3>Nombre del producto</h3>
                    <h4>Descripción y detalles de la compra.</h4>
                </div>

            </div>

                
                <div class="flex-icono-precio">
                    <i class="fa-solid fa-xmark"></i>
                    <h5>Precio</h5>
                </div>
                
            </div>

        </section>


        <section>
            <h3 class="resumen-compra">Resumen de compra</h3>

            <form action="/carrito" method="POST" class="form-carrito">

                <div class="cupon-descuento">
                    <label for="cupon">¿Tenés cupón de descuento?</label>
                    <input type="text" name="cupon" id="cupon"  placeholder="Ingresar código"required>
                </div>

                <label for="giftcard" class="giftcard">¿Tenés GiftCard?</label>

                <div class="flex-giftcard">
                    <input type="number" name="numero" id="giftcard" placeholder="Número de tarjeta" required>
                    <input type="number" name="codigo" id="giftcard" placeholder="Código de seguridad" required>
                    <input type="number" name="monto" id="giftcard" placeholder="Monto a utilizar" required>
                </div>

                <div class="checkout">
                    <h5>Envío</h5>
                    <h6>Calculado en el checkout</h6>
                </div>


                <div class="checkout">
                    <h5>Impuestos</h5>
                    <h6>Calculado en el checkout</h6>
                </div>

                <div class="flex-total">
                    <h4>Subtotal:</h4>
                    <h5>$2,456,198</h5>
                </div>

                <div class="div-boton">
                <button type="submit" class="contacto">PONERSE EN CONTACTO CON EL VENDEDOR</button>
                </div>

            </form>


        </section>


    </main>

    <%- include('./partials/footer-2')%>


    <script src="/js/main.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>