<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

<!-- 
    Nombre del producto (n​ ame)​
Descripción (d​ escription​)
Imagen (i​ mage)​
Categoría (c​ ategory)​
Colores (o cualquier otro campo similar como: tamaños, talles, etc)
Precio (p​ rice​)
-->

    <main>

            <div clas="big-container">

                <div class="single-column">
                <form action="/products" method="POST" class="form-login" enctype="multipart/form-data">

                    <h2 class="titulo-login">Crear Producto</h2>

                    <div class="correo-contra">

                        <label for="nombreProducto" class="label-correo">Nombre del Producto</label>
                        <input type="text" name="nombreProducto" id="nombreProducto" value="Modelo X" required>

                        <label for="descripcionProducto" class="label-correo">Descripción</label>
                        <input type="textarea" name="descripcionProducto" id="descripcionProducto" value= "Lorem ipsum dolor sit amet consectetur." required>

                        <label for="imgProducto" class="label-correo">Imagen del producto</label>
                        <input type="file" name="imgProducto" id="imgProducto" required>

                        <label for="deliveryEstimado" class="label-correo">Delivery Estimado (semanas)</label>
                        <input type="number" name="deliveryEstimado" id="deliveryEstimado" value=10 required>
                        
                        <label for="precioProducto" class="label-correo">Precio (USD)</label>
                        <input type="number" name="precioProducto" id="precioProducto" value=10 required>
                        
                        <label for="autonomia" class="label-correo">Autonomía (km)</label>
                        <input type="number" name="autonomia" id="autonomia" value=10 required>

                        <label for="velocidadMaxima" class="label-correo">Velocidad Máxima (km/h)</label>
                        <input type="number" name="velocidadMaxima" id="velocidadMaxima" value=10 required>

                        <label for="tiempoDeCeroCien" class="label-correo">Tiempo de cero a 100 km/h (seg)</label>
                        <input type="number" name="tiempoDeCeroCien" id="tiempoDeCeroCien" value=10 required>

                        <label for="ingreso" class="label-correo">Ingreso</label>
                        <input type="date" name="ingreso" id="ingreso" value="2022-01-01" required>

                    </div>
                    
                    
                    <div class="div-login-button">
                        <button class="register-button" type="submit" name="ingreso">Guardar Producto</button>
                    </div>

                </form>

            
        
            </div>


        </div>

        </main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>