<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-2')%>


    <main class="main-article">

        <div class="flex-texto">
            <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam eaque ut porro pariatur eveniet.</p>
            <i class="fas fa-solid fa-info"></i>
        </div>

        <div>
            <img src="\imgs\autosinfondoblanco.png" alt="Foto del producto" class="foto-principal">
        </div>

        <section>
            <article>
                <div class="modelo-delivery">
                    <h2>Modelo uno</h2>
                    <h3>Delivery estimado</h3>
                </div>
            

                <div class="caracteristicas">
                    <h4>Característica 1</h4>
                    <h5>Breve Descripción</h5>

                    <h4>Característica 2</h4>
                    <h5>Breve Descripción</h5>

                    <h4>Característica 3</h4>
                    <h5>Breve Descripción</h5>

                    <div class="precio-auto">
                        <p class="precio">Precio</p>
                        <p class="numero">$1,000,000</p>
                    </div>

                </div>

            </article>

            <article class="article-pintura">
                <div  class="auto-pintura">
                    <img src="\imgs\autosinfondoblanco.png" alt="Foto del producto">
                </div>

                <h4>Pintura</h4>

                <div class="flex-circle">
                    <i class="fas fa-solid fa-circle" id="plateado"></i>
                    <i class="fas fa-solid fa-circle" id="gris-oscuro"></i>
                    <i class="fas fa-solid fa-circle" id="azul"></i>
                    <i class="fas fa-solid fa-circle" id="negro"></i>
                    <i class="fas fa-solid fa-circle" id="rojo"></i>
                </div>

                <div class="desc-color">
                    <p class="color-pintura">Color nombre</p>
                    <p class="precio-pintura">$1,000</p>
                </div>
            </article>




            <article class="article-ruedas">
                <div class="auto-ruedas">
                    <img src="\imgs\autosinfondoblanco.png" alt="Foto del producto">
                </div>

                <h4>Ruedas</h4>

                <div class="flex-circle-dos">
                    <i class="fas fa-solid fa-circle"></i>
                    <i class="fas fa-solid fa-circle"></i>
                </div>

                <div class="desc-ruedas">
                    <p class="nombre-rueda">Ruedas nombre</p>
                    <p class="precio-rueda">$2,000</p>
                </div>
            </article>

            <article class="add">
                <a href="/carrito">
                    <button type="button">AÑADIR AL CARRITO</i></button>
                </a>
            </article>



        </section>



    </main>


    <%- include('./partials/footer-1')%>

    <script src="/js/main.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>