<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <body>


        <header>

            <div class="barra-blanca">
                <nav class="navbar">
                    <a href="/"><h1>CARMAKERS</h1></a>
                    <button class="menu">Menú</button>
            </nav>
            </div>
    
        </header>


        <main>

            <div clas="big-container">



                <div class="single-column">
                <form action="/" method="POST" class="form-login">

                    <h2 class="titulo-login">Iniciar sesión</h2>

                    <div class="correo-contra">
                        <label for="correo" class="label-correo">Correo electrónico</label>
                        <input type="email" name="correo" id="correo" required>

                        <label for="contraseña" class="label-contra">Contraseña</label>
                        <input type="password" name="contraseña" id="contraseña" required>
                    </div>
                    
                    <div class="recuerdame">
                        <input class="checkbox-box" type="checkbox" value="lsRememberMe" id="rememberMe"> 
                        <label class="checkbox-label" for="rememberMe">Recuérdame</label>
                    </div>

                    <div class="div-login-button">
                        <button class="login-button" type="submit" name="ingreso">INGRESAR</button>
                    </div>

                </form>

            
            <div class="olvido">

                <div class="olvido-correo">
                    <a href="/support.html">¿Olvidó el correo electrónico?</a>
                </div>

                <div class="olvido-contraseña">
                    <a href="/resetpass.html">¿Olvidó la contraseña?</a>
                </div>
            </div>

        <p class="no-account">¿No tiene una cuenta?</p>

        <div class="boton-crear-cuenta">
            <button class="account-button" type="submit" name="ingreso">CREAR UNA CUENTA</button>
        </div>

        </div>

        </main>

        <footer id="footer-carrito">

            <div class="copy-carrito">
                <p class="car-carrito">CarMakers © 2022</p>
            </div>
    
            <div class="links-carrito">
                <a href="/sobrenosotros.html">Sobre Nosotros</a>
                <a href="/terminos.html">Términos y condiciones</a>
            </div>
    
        </footer>
    
    </body>
    </html>