<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

    <main class="mainsoporte">

        <section class="head-nosotros">

            <ul>
                <li><a href='/terminos'>Términos y Condiciones</a></li>
                <li><a href='/politica-cookies'>Política de Cookies</a></li>
                <li><a href='/sobre-nosotros'>Sobre Nosotros</a></li>
            </ul>    

            <h3>Política de Privacidad</h3>

        </section>

        <section>
            <article>
                <p class="texto-sn">
                    Introducción
A continuación se encuentran las políticas de privacidad (“Políticas de Privacidad”) del sitio de Internet ubicado en URL www.carmakers.com.ar (“Sitio”).
El responsable del Sitio es CARMAKERS HANDLER S.A., con domicilio en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aires, Nº de CUIT 30-71556133-2, número de teléfono 11 7038 2427 y correo electrónico info@carmakers.com.ar.
Toda persona que acceda, utilice y navegue por el Sitio y/o toda persona suscripta al presente Sitio (en forma indistinta “Visitante” o “Usuario”), se encuentra obligado a cumplir y respetar las Políticas de Privacidad. Asimismo, en caso que a través del acceso, utilización, navegación y/o suscripción en el Sitio se está contratando la utilización de servicios prestados por CarMakers, el Visitante está aceptando y comprometiéndose al respeto y cumplimiento de estas Políticas de Privacidad, las cuales constituyen un contrato para los Visitantes y CarMakers. Si no acuerda total o parcialmente sujetarse a las Políticas de Privacidad, no acceda, utilice o navegue en el Sitio. CarMakers pide a sus Usuarios que lean con detenimiento estas Políticas de Privacidad, las cuales indican como CarMakers procesará sus datos personales.
Admisión como Visitante y/o Usuario.
A. Edad Mínima
Se permite la utilización, acceso, suscripción o navegación en general por el Sitio a toda persona mayor de edad y con plena capacidad para contratar, de acuerdo a la ley del domicilio del Visitante y/o Usuario. La utilización, acceso, suscripción o navegación en general por menores de edad no está permitida y constituye una violación a las presentes Políticas de Privacidad. Los padres o tutores del menor de edad serán directamente responsables por la violación de las Políticas de Privacidad, y por cualquier otro daño que sea causado al menor o terceros por la utilización del Sitio.
B. Aceptación de las Políticas de Privacidad
Toda persona que utilice, visite, acceda, suscriba o navegue en general por el Sitio, acepta en forma incondicional las Políticas de Privacidad. Mientras los Visitantes y/o Usuarios cumplan con todas las obligaciones a su cargo, CarMakers le concede a éstos últimos el derecho revocable, limitado, no exclusivo e intransferible de acceso y uso de los servicios provistos en el Sitio.
Régimen de Datos Suministrados por los Usuarios.
A. Tipo de Información Objeto de Tratamiento en el Sitio
Los Visitantes del Sitio proveen a Introducción
A continuación se encuentran las políticas de privacidad (“Políticas de Privacidad”) del sitio de Internet ubicado en URL www.carmakers.com.ar (“Sitio”).  CarMakers
El responsable del Sitio es CARMAKERS HANDLER S.A., con domicilio en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aires, Nº de CUIT 30-71556133-2, número de teléfono 11 7038 2427 y correo electrónico info@carmakers.com.ar.
Toda persona que acceda, utilice y navegue por el Sitio y/o toda persona suscripta al presente Sitio (en forma indistinta “Visitante” o “Usuario”), se encuentra obligado a cumplir y respetar las Políticas de Privacidad. Asimismo, en caso que a través del acceso, utilización, navegación y/o suscripción en el Sitio se está contratando la utilización de servicios prestados por CarMakers, el Visitante está aceptando y comprometiéndose al respeto y cumplimiento de estas Políticas de Privacidad, las cuales constituyen un contrato para los Visitantes y CarMakers. Si no acuerda total o parcialmente sujetarse a las Políticas de Privacidad, no acceda, utilice o navegue en el Sitio. CarMakers pide a sus Usuarios que lean con detenimiento estas Políticas de Privacidad, las cuales indican como CarMakers procesará sus datos personales.
Admisión como Visitante y/o Usuario.
A. Edad Mínima
Se permite la utilización, acceso, suscripción o navegación en general por el Sitio a toda persona mayor de edad y con plena capacidad para contratar, de acuerdo a la ley del domicilio del Visitante y/o Usuario. La utilización, acceso, suscripción o navegación en general por menores de edad no está permitida y constituye una violación a las presentes Políticas de Privacidad. Los padres o tutores del menor de edad serán directamente responsables por la violación de las Políticas de Privacidad, y por cualquier otro daño que sea causado al menor o terceros por la utilización del Sitio.
B. Aceptación de las Políticas de Privacidad
Toda persona que utilice, visite, acceda, suscriba o navegue en general por el Sitio, acepta en forma incondicional las Políticas de Privacidad. Mientras los Visitantes y/o Usuarios cumplan con todas las obligaciones a su cargo, CarMakers le concede a éstos últimos el derecho revocable, limitado, no exclusivo e intransferible de acceso y uso de los servicios provistos en el Sitio.
Régimen de Datos Suministrados por los Usuarios.
A. Tipo de Información Objeto de Tratamiento en el Sitio
Los Visitantes del Sitio proveen a CarMakers de dos tipos de datos: (i) datos personales suministrados para contactar a CarMakers y/o para requerir el envio de información, a través del Sitio; y (iii) datos de tráfico que se generan los Visitantes al navegar por el Sitio. Asimismo, si el Visitante usa las características de comunicación de este Sitio para proveer a CarMakers otra información más allá de los datos antes mencionados, incluyendo sugerencias acerca del Sitio, ideas sobre productos y publicidad, y cualquier otra información relacionada, tales informaciones pasan a pertenecer en forma gratuita a CarMakers y pueden ser usadas, reproducidas, modificadas, distribuidas y divulgadas por CarMakers de cualquier forma que CarMakers escoja.
B. Datos suministrados para contactar a CarMakers
Aquellos Visitantes que deseen realizar consultas o sugerencias a CarMakers, podrán hacerlo llenando sus datos en el formulario de contacto provisto en el Sitio (“Datos Personales”).
En tal sentido, los Visitantes prestan su consentimiento, a que CarMakers procese, registre, archive, relacione y trate los Datos Personales suministrados con el fin de contestar a sus consultas, aplicar sugerencias, enviar respuestas, personalizar y mejorar productos y servicios comercializados por CarMakers, realizar encuestas, y utilice los datos ingresados para fines publicitarios, de marketing y para promociones propias, o de servicios y productos de terceros.
Los Visitantes deben proveer información verdadera y actualizada sobre su persona y cumplir con las demás condiciones de uso del Sitio.
Como responsable de bases de datos, CarMakers garantiza que los procesos internos propios de las bases de datos cumplen con las obligaciones legales de seguridad y confidencialidad impuestas por la Ley No 25.326 de Protección de Datos Personales y que se asegura el acceso, actualización, supresión o rectificación de los datos por parte de su titular (artículo 14 y 15 de la Ley 25.326).
Usos Prohibidos de los Datos e Informaciones en el Sitio.
Sólo se permite el uso del Sitio si se respetan las presentes Políticas de Privacidad y la ley aplicable. Se consideran usos prohibidos y los Visitantes se obligan a no utilizar el Sitio para:
Enviar spam, publicidad no solicitada o no autorizada, cartas encadenadas, o cualquier otro tipo de comunicaciones ilícitas;
Realizar manifestaciones falsas o proporcionar información falsa sobre los datos suministrados a CarMakers.
Usar el Sitio en forma contraria a las Políticas de Privacidad, la ley y las buenas costumbres, o de cualquier forma que pueda dañar, desprestigiar, sobrecargar o perjudicar a CarMakers o a terceros;
El presente listado de conductas prohibidas es una enunciación meramente ejemplificativa de las infracciones que pueden cometer los Visitantes.
Derechos del Usuario y Visitante.
A. Derechos de Acceso, Rectificación y Supresión de Datos Personales
Los Visitantes tienen la facultad de ejercer el derecho de acceso, rectificación, bloqueo o supresión de los Datos Personales que hayan sido suministrados al Sitio personalmente o través de un tercero. Se aclara, que estos derechos sólo podrán ejercerse sobre aquellas informaciones que puedan considerarse datos personales en los términos de la Ley Nº25.326.
Para ejercer cualquiera de estos derechos, el Visitante deberá enviar un correo electrónico a info@carmakers.com.ar detallando su nombre y apellido, número de DNI, su solicitud y razones del ejercicio de su derecho. Una vez cumplido con los extremos anteriormente detallados y si correspondiera hacer lugar al pedido, CarMakers le comunicará al Visitante si ha procedido a dar lugar a la misma o si rechaza el pedido. Introducción
A continuación se encuentran las políticas de privacidad (“Políticas de Privacidad”) del sitio de Internet ubicado en URL www.carmkers.com.ar (“Sitio”).
El responsable del Sitio es CARMAKERS HANDLER S.A., con domicilio en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aires, Nº de CUIT 30-71556133-2, número de teléfono 11 7038 2427 y correo electrónico info@carmakers.com.ar.
Toda persona que acceda, utilice y navegue por el Sitio y/o toda persona suscripta al presente Sitio (en forma indistinta “Visitante” o “Usuario”), se encuentra obligado a cumplir y respetar las Políticas de Privacidad. Asimismo, en caso que a través del acceso, utilización, navegación y/o suscripción en el Sitio se está contratando la utilización de servicios prestados por CarMakers, el Visitante está aceptando y comprometiéndose al respeto y cumplimiento de estas Políticas de Privacidad, las cuales constituyen un contrato para los Visitantes y CarMakers. Si no acuerda total o parcialmente sujetarse a las Políticas de Privacidad, no acceda, utilice o navegue en el Sitio. CarMakers pide a sus Usuarios que lean con detenimiento estas Políticas de Privacidad, las cuales indican como CarMakers procesará sus datos personales.
Admisión como Visitante y/o Usuario.
A. Edad Mínima
Se permite la utilización, acceso, suscripción o navegación en general por el Sitio a toda persona mayor de edad y con plena capacidad para contratar, de acuerdo a la ley del domicilio del Visitante y/o Usuario. La utilización, acceso, suscripción o navegación en general por menores de edad no está permitida y constituye una violación a las presentes Políticas de Privacidad. Los padres o tutores del menor de edad serán directamente responsables por la violación de las Políticas de Privacidad, y por cualquier otro daño que sea causado al menor o terceros por la utilización del Sitio.
B. Aceptación de las Políticas de Privacidad
Toda persona que utilice, visite, acceda, suscriba o navegue en general por el Sitio, acepta en forma incondicional las Políticas de Privacidad. Mientras los Visitantes y/o Usuarios cumplan con todas las obligaciones a su cargo, CarMakers le concede a éstos últimos el derecho revocable, limitado, no exclusivo e intransferible de acceso y uso de los servicios provistos en el Sitio.
Régimen de Datos Suministrados por los Usuarios.
A. Tipo de Información Objeto de Tratamiento en el Sitio
Los Visitantes del Sitio proveen a CarMakers de dos tipos de datos: (i) datos personales suministrados para contactar a CarMakers y/o para requerir el envio de información, a través del Sitio; y (iii) datos de tráfico que se generan los Visitantes al navegar por el Sitio. Asimismo, si el Visitante usa las características de comunicación de este Sitio para proveer a CarMakers otra información más allá de los datos antes mencionados, incluyendo sugerencias acerca del Sitio, ideas sobre productos y publicidad, y cualquier otra información relacionada, tales informaciones pasan a pertenecer en forma gratuita a CarMakers y pueden ser usadas, reproducidas, modificadas, distribuidas y divulgadas por CarMakers de cualquier forma que CarMakers escoja.
B. Datos suministrados para contactar a CarMakers
Aquellos Visitantes que deseen realizar consultas o sugerencias a CarMakers, podrán hacerlo llenando sus datos en el formulario de contacto provisto en el Sitio (“Datos Personales”).
En tal sentido, los Visitantes prestan su consentimiento, a que CarMakers procese, registre, archive, relacione y trate los Datos Personales suministrados con el fin de contestar a sus consultas, aplicar sugerencias, enviar respuestas, personalizar y mejorar productos y servicios comercializados por CarMakers, realizar encuestas, y utilice los datos ingresados para fines publicitarios, de marketing y para promociones propias, o de servicios y productos de terceros.
Los Visitantes deben proveer información verdadera y actualizada sobre su persona y cumplir con las demás condiciones de uso del Sitio.
Como responsable de bases de datos, CarMakers garantiza que los procesos internos propios de las bases de datos cumplen con las obligaciones legales de seguridad y confidencialidad impuestas por la Ley No 25.326 de Protección de Datos Personales y que se asegura el acceso, actualización, supresión o rectificación de los datos por parte de su titular (artículo 14 y 15 de la Ley 25.326).
Usos Prohibidos de los Datos e Informaciones en el Sitio.
Sólo se permite el uso del Sitio si se respetan las presentes Políticas de Privacidad y la ley aplicable. Se consideran usos prohibidos y los Visitantes se obligan a no utilizar el Sitio para:
Enviar spam, publicidad no solicitada o no autorizada, cartas encadenadas, o cualquier otro tipo de comunicaciones ilícitas;
Realizar manifestaciones falsas o proporcionar información falsa sobre los datos suministrados a CarMakers.
Usar el Sitio en forma contraria a las Políticas de Privacidad, la ley y las buenas costumbres, o de cualquier forma que pueda dañar, desprestigiar, sobrecargar o perjudicar a CarMakers o a terceros;
El presente listado de conductas prohibidas es una enunciación meramente ejemplificativa de las infracciones que pueden cometer los Visitantes.
Derechos del Usuario y Visitante.
A. Derechos de Acceso, Rectificación y Supresión de Datos Personales
Los Visitantes tienen la facultad de ejercer el derecho de acceso, rectificación, bloqueo o supresión de los Datos Personales que hayan sido suministrados al Sitio personalmente o través de un tercero. Se aclara, que estos derechos sólo podrán ejercerse sobre aquellas informaciones que puedan considerarse datos personales en los términos de la Ley Nº25.326.
Para ejercer cualquiera de estos derechos, el Visitante deberá enviar un correo electrónico a info@carmakers.com.ar detallando su nombre y apellido, número de DNI, su solicitud y razones del ejercicio de su derecho. Una vez cumplido con los extremos anteriormente detallados y si correspondiera hacer lugar al pedido, CarMakers le comunicará al Visitante si ha procedido a dar lugar a la misma o si rechaza el pedido. CarMakers tendrá 10 días hábiles desde la recepción de la solicitud para enviar una respuesta en caso de tratarse de una solicitud de acceso, y 5 días hábiles si el Visitante solicitara la rectificación, actualización o supresión de sus datos.
Conforme la Disposición DNPDP N° 10/08: El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326.
La AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
Derechos y Obligaciones de CarMakers.
A. Provisión de servicios en el Sitio
CarMakers se compromete a seguir desarrollando sus servicios para mejorar las experiencias de los Visitantes.
CarMakers tendrá a su exclusivo criterio la facultad de suspender, reemplazar, restringir el acceso o discontinuar temporal o permanentemente el Sitio, sin previo aviso.
En el caso de que exista un incumplimiento a las presentes Políticas de Privacidad, CarMakers podrá suspender, reemplazar, restringir el acceso o discontinuar temporal o permanentemente el Sitio sin previo aviso. En ambos casos, CarMakers no incurre en ningún tipo de responsabilidad por la cancelación.
CarMakers no es responsable por errores, omisiones, interrupciones, eliminaciones, defectos, retrasos de funcionamiento o de transmisión, fallos de la línea de comunicaciones, robos, destrucción, acceso no autorizado o alteración de las comunicaciones del Visitante.
B. Herramientas de seguridad
El Sitio le brinda a los Visitantes una experiencia de navegación en un entorno seguro, utilizando para tales fines antivirus, firewalls y otras tecnologías. CarMakers no se hace responsable por los posibles ataques, phishing, pharming o cualquier otro evento de fuerza mayor que pueda vulnerar al Sitio.
Miscelánea.
A. Ley aplicable
Las presentes Políticas de Privacidad deben ser interpretadas conforme a las leyes de la República Argentina, excluyendo la aplicación de cualquier norma de conflicto que reenvíe a la aplicación de otra ley.
B. Jurisdicción
Todas las controversias que deriven de estas Políticas de Privacidad o que guarden relación con éstos serán resueltas definitivamente por los tribunales ordinarios de la Ciudad Autónoma de Buenos Aires, con renuncia a cualquier otro fuero o jurisdicción.
C. Notificaciones
Para todos los efectos judiciales y extrajudiciales, CarMakers constituye domicilio legal en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aires, donde serán válidas todas las notificaciones referidas al uso del Sitio. Las notificaciones deberán ser realizadas por carta documento, telegrama, o cualquier otro medio fehaciente y no se considerarán efectuadas si no existiese constancia de recepción por una persona autorizada por CarMakers a tales fines (funcionarios, empleados, apoderados).
D. Separabilidad
Si alguna cláusula de las Políticas de Privacidad es considerado nulo, anulable o inoponible, esto último no afectará ninguna otra cláusula del presente documento. Consecuentemente, las Políticas de Privacidad deberán ser modificadas en el grado necesario para dar ejecución a las demás provisiones del presente.
E. Modificación
CarMakers se reserva el derecho a modificar total o parcialmente las Políticas de Privacidad, en cualquier momento y sin previo aviso. Si sucede cualquier modificación, se publicará la misma en el Sitio y si el Usuario persiste en la navegación en el Sitio y/o suministra datos y/o utiliza los servicios prestados, se considerará que ha aceptado implícitamente las nuevas Políticas de Privacidad. Los Visitantes tienen la responsabilidad de visitar regularmente el Sitio para controlar si ha habido cambios a las Políticas de Privacidad de CarMakers. tendrá 10 días hábiles desde la recepción de la solicitud para enviar una respuesta en caso de tratarse de una solicitud de acceso, y 5 días hábiles si el Visitante solicitara la rectificación, actualización o supresión de sus datos.
Conforme la Disposición DNPDP N° 10/08: El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326.
La AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
Derechos y Obligaciones de CarMakers.
A. Provisión de servicios en el Sitio
CarMakers se compromete a seguir desarrollando sus servicios para mejorar las experiencias de los Visitantes.
CarMakers tendrá a su exclusivo criterio la facultad de suspender, reemplazar, restringir el acceso o discontinuar temporal o permanentemente el Sitio, sin previo aviso.
En el caso de que exista un incumplimiento a las presentes Políticas de Privacidad, CarMakers podrá suspender, reemplazar, restringir el acceso o discontinuar temporal o permanentemente el Sitio sin previo aviso. En ambos casos, CarMakers no incurre en ningún tipo de responsabilidad por la cancelación.
CarMakers no es responsable por errores, omisiones, interrupciones, eliminaciones, defectos, retrasos de funcionamiento o de transmisión, fallos de la línea de comunicaciones, robos, destrucción, acceso no autorizado o alteración de las comunicaciones del Visitante.
B. Herramientas de seguridad
El Sitio le brinda a los Visitantes una experiencia de navegación en un entorno seguro, utilizando para tales fines antivirus, firewalls y otras tecnologías. CarMakers no se hace responsable por los posibles ataques, phishing, pharming o cualquier otro evento de fuerza mayor que pueda vulnerar al Sitio.
Miscelánea.
A. Ley aplicable
Las presentes Políticas de Privacidad deben ser interpretadas conforme a las leyes de la República Argentina, excluyendo la aplicación de cualquier norma de conflicto que reenvíe a la aplicación de otra ley.
B. Jurisdicción
Todas las controversias que deriven de estas Políticas de Privacidad o que guarden relación con éstos serán resueltas definitivamente por los tribunales ordinarios de la Ciudad Autónoma de Buenos Aires, con renuncia a cualquier otro fuero o jurisdicción.
C. Notificaciones
Para todos los efectos judiciales y extrajudiciales, CarMakers constituye domicilio legal en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aires, donde serán válidas todas las notificaciones referidas al uso del Sitio. Las notificaciones deberán ser realizadas por carta documento, telegrama, o cualquier otro medio fehaciente y no se considerarán efectuadas si no existiese constancia de recepción por una persona autorizada por CarMakers a tales fines (funcionarios, empleados, apoderados).
D. Separabilidad
Si alguna cláusula de las Políticas de Privacidad es considerado nulo, anulable o inoponible, esto último no afectará ninguna otra cláusula del presente documento. Consecuentemente, las Políticas de Privacidad deberán ser modificadas en el grado necesario para dar ejecución a las demás provisiones del presente.
E. Modificación
CarMakers se reserva el derecho a modificar total o parcialmente las Políticas de Privacidad, en cualquier momento y sin previo aviso. Si sucede cualquier modificación, se publicará la misma en el Sitio y si el Usuario persiste en la navegación en el Sitio y/o suministra datos y/o utiliza los servicios prestados, se considerará que ha aceptado implícitamente las nuevas Políticas de Privacidad. Los Visitantes tienen la responsabilidad de visitar regularmente el Sitio para controlar si ha habido cambios a las Políticas de Privacidad de CarMakers. de dos tipos de datos: (i) datos personales suministrados para contactar a CarMakers y/o para requerir el envio de información, a través del Sitio; y (iii) datos de tráfico que se generan los Visitantes al navegar por el Sitio. Asimismo, si el Visitante usa las características de comunicación de este Sitio para proveer a CarMakers otra información más allá de los datos antes mencionados, incluyendo sugerencias acerca del Sitio, ideas sobre productos y publicidad, y cualquier otra información relacionada, tales informaciones pasan a pertenecer en forma gratuita a CarMakers y pueden ser usadas, reproducidas, modificadas, distribuidas y divulgadas por CarMakers de cualquier forma que CarMakers escoja.
B. Datos suministrados para contactar a CarMakers
Aquellos Visitantes que deseen realizar consultas o sugerencias a CarMakers, podrán hacerlo llenando sus datos en el formulario de contacto provisto en el Sitio (“Datos Personales”).
En tal sentido, los Visitantes prestan su consentimiento, a que CarMakers procese, registre, archive, relacione y trate los Datos Personales suministrados con el fin de contestar a sus consultas, aplicar sugerencias, enviar respuestas, personalizar y mejorar productos y servicios comercializados por CarMakers, realizar encuestas, y utilice los datos ingresados para fines publicitarios, de marketing y para promociones propias, o de servicios y productos de terceros.
Los Visitantes deben proveer información verdadera y actualizada sobre su persona y cumplir con las demás condiciones de uso del Sitio.
Como responsable de bases de datos, CarMakers garantiza que los procesos internos propios de las bases de datos cumplen con las obligaciones legales de seguridad y confidencialidad impuestas por la Ley No 25.326 de Protección de Datos Personales y que se asegura el acceso, actualización, supresión o rectificación de los datos por parte de su titular (artículo 14 y 15 de la Ley 25.326).
Usos Prohibidos de los Datos e Informaciones en el Sitio.
Sólo se permite el uso del Sitio si se respetan las presentes Políticas de Privacidad y la ley aplicable. Se consideran usos prohibidos y los Visitantes se obligan a no utilizar el Sitio para:
Enviar spam, publicidad no solicitada o no autorizada, cartas encadenadas, o cualquier otro tipo de comunicaciones ilícitas;
Realizar manifestaciones falsas o proporcionar información falsa sobre los datos suministrados a CarMakers.
Usar el Sitio en forma contraria a las Políticas de Privacidad, la ley y las buenas costumbres, o de cualquier forma que pueda dañar, desprestigiar, sobrecargar o perjudicar a CarMakers o a terceros;
El presente listado de conductas prohibidas es una enunciación meramente ejemplificativa de las infracciones que pueden cometer los Visitantes.
Derechos del Usuario y Visitante.
A. Derechos de Acceso, Rectificación y Supresión de Datos Personales
Los Visitantes tienen la facultad de ejercer el derecho de acceso, rectificación, bloqueo o supresión de los Datos Personales que hayan sido suministrados al Sitio personalmente o través de un tercero. Se aclara, que estos derechos sólo podrán ejercerse sobre aquellas informaciones que puedan considerarse datos personales en los términos de la Ley Nº25.326.
Para ejercer cualquiera de estos derechos, el Visitante deberá enviar un correo electrónico a info@carmakers.com.ar detallando su nombre y apellido, número de DNI, su solicitud y razones del ejercicio de su derecho. Una vez cumplido con los extremos anteriormente detallados y si correspondiera hacer lugar al pedido, CarMakers le comunicará al Visitante si ha procedido a dar lugar a la misma o si rechaza el pedido. CarMakers tendrá 10 días hábiles desde la recepción de la solicitud para enviar una respuesta en caso de tratarse de una solicitud de acceso, y 5 días hábiles si el Visitante solicitara la rectificación, actualización o supresión de sus datos.
Conforme la Disposición DNPDP N° 10/08: El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326.
La AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
Derechos y Obligaciones de CarMakers.
A. Provisión de servicios en el Sitio
CarMakers se compromete a seguir desarrollando sus servicios para mejorar las experiencias de los Visitantes.
CarMakers tendrá a su exclusivo criterio la facultad de suspender, reemplazar, restringir el acceso o discontinuar temporal o permanentemente el Sitio, sin previo aviso.
En el caso de que exista un incumplimiento a las presentes Políticas de Privacidad, CarMakers podrá suspender, reemplazar, restringir el acceso o discontinuar temporal o permanentemente el Sitio sin previo aviso. En ambos casos, CarMakers no incurre en ningún tipo de responsabilidad por la cancelación.
CarMakers no es responsable por errores, omisiones, interrupciones, eliminaciones, defectos, retrasos de funcionamiento o de transmisión, fallos de la línea de comunicaciones, robos, destrucción, acceso no autorizado o alteración de las comunicaciones del Visitante.
B. Herramientas de seguridad
El Sitio le brinda a los Visitantes una experiencia de navegación en un entorno seguro, utilizando para tales fines antivirus, firewalls y otras tecnologías. CarMakers no se hace responsable por los posibles ataques, phishing, pharming o cualquier otro evento de fuerza mayor que pueda vulnerar al Sitio.
Miscelánea.
A. Ley aplicable
Las presentes Políticas de Privacidad deben ser interpretadas conforme a las leyes de la República Argentina, excluyendo la aplicación de cualquier norma de conflicto que reenvíe a la aplicación de otra ley.
B. Jurisdicción
Todas las controversias que deriven de estas Políticas de Privacidad o que guarden relación con éstos serán resueltas definitivamente por los tribunales ordinarios de la Ciudad Autónoma de Buenos Aires, con renuncia a cualquier otro fuero o jurisdicción.
C. Notificaciones
Para todos los efectos judiciales y extrajudiciales, CarMakers constituye domicilio legal en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aires, donde serán válidas todas las notificaciones referidas al uso del Sitio. Las notificaciones deberán ser realizadas por carta documento, telegrama, o cualquier otro medio fehaciente y no se considerarán efectuadas si no existiese constancia de recepción por una persona autorizada por CarMakers a tales fines (funcionarios, empleados, apoderados).
D. Separabilidad
Si alguna cláusula de las Políticas de Privacidad es considerado nulo, anulable o inoponible, esto último no afectará ninguna otra cláusula del presente documento. Consecuentemente, las Políticas de Privacidad deberán ser modificadas en el grado necesario para dar ejecución a las demás provisiones del presente.
E. Modificación
CarMakers se reserva el derecho a modificar total o parcialmente las Políticas de Privacidad, en cualquier momento y sin previo aviso. Si sucede cualquier modificación, se publicará la misma en el Sitio y si el Usuario persiste en la navegación en el Sitio y/o suministra datos y/o utiliza los servicios prestados, se considerará que ha aceptado implícitamente las nuevas Políticas de Privacidad. Los Visitantes tienen la responsabilidad de visitar regularmente el Sitio para controlar si ha habido cambios a las Políticas de Privacidad de CarMakers.
                </p>
            </article>
        </section>
        
    </main>

    <script src="/js/main.js" type="module"></script>
</body>
</html>