<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

    <main class="mainsoporte">

        <section class="head-nosotros">

            <ul>
                <li><a href='/sobre-nosotros'>Sobre Nosotros</a></li>
                <li><a href='/terminos'>Términos y Condiciones</a></li>
                <li><a href='/politica-privacidad'>Política de Privacidad</a></li>
            </ul>    

            <h3>Política de Cookies</h3>

        </section>

        <section>
            <article>
                <p class="texto-sn">
                    Política de cookies. Este Sitio utiliza cookies. Las cookies son pequeños ficheros de datos que se generan en el ordenador del Usuario y que permiten a CarMakers prestarle servicios como la posibilidad de recordar determinados aspectos de su última búsqueda de contenidos para que las búsquedas posteriores resulten más rápidas. El Usuario puede borrar las cookies de su disco duro si así lo desea. La mayoría de los navegadores aceptan las cookies de forma automática, aunque el Usuario puede cambiar la configuración de su ordenador para evitar que esto suceda; incluso sin cookies podrá usar la mayor parte de los servicios de este Sitio.
Este Sitio web puede utilizar las siguientes cookies:
Cookies de sesión: Las cookies de sesión son memorizadas y únicamente tienen validez temporal, es decir, hasta que el usuario finaliza la navegación por el Sitio. Estas cookies no graban de forma permanente ninguna información en el disco duro del ordenador.
Cookies de navegación: El objetivo principal de las cookies de navegación es evitar ofrecerle al Usuario recomendaciones no afines a sus intereses y ofrecerles propuestas comerciales dirigidas y personalizadas. Estas cookies de navegación basan su utilidad en el seguimiento temporal de la navegación por Internet. El Usuario tiene la posibilidad de eliminar este tipo de cookies antes de iniciar la navegación por otras páginas del Sitio.
Cookies estadísticas: Las cookies estadísticas permiten conocer la siguiente información:
La forma de interactuar los usuarios en el Sitio.
Elabora informes de tendencias de sitios web sin identificar a usuarios individuales.
Recopila información de forma anónima. Para realizar las estadísticas de uso del Sitio CarMakers utiliza herramientas estadísticas con un alcance limitado a las funciones descritas en el párrafo anterior y con la finalidad de conocer el nivel de recurrencia de los Visitantes y los contenidos que resultan más interesantes. De esta manera CarMakers puede concentrar sus esfuerzos en mejorar las áreas más visitadas y hacer que el Usuario encuentre más fácilmente lo que busca.
Cookies de terceros: En determinadas ocasiones podemos ofrecer a través de nuestra página Web contenidos de terceros; en ese caso, dichas cookies que escapan del control de CarMakers.
Sin perjuicio de lo anterior, el Usuario tiene la posibilidad de configurar su navegador para aceptar o rechazar por defecto todas las cookies o para recibir un aviso en pantalla de la recepción de cada cookie y decidir en ese momento su implantación o no en su disco duro. Para ello, se sugiere al Usuario visitar la sección de ayuda de su navegador para saber cómo cambiar la configuración que actualmente emplea. También puede utilizar las herramientas de bloqueo de cookies de rastreo.
Asimismo, el Usuario tiene la posibilidad de revocar en cualquier momento el consentimiento prestado para la utilización de cookies por parte de CarMakers, configurando para ello su navegador en los términos previstos en el punto anterior. Sin perjuicio de lo anterior, tenga en cuenta que la deshabilitación de las mismas podría afectar al correcto funcionamiento de determinadas secciones del Sitio.
Se sugiere al Usuario consultar las instrucciones y manuales de su navegador para ampliar esta información:
Si utiliza Microsoft Internet Explorer, en la opción de menú Herramientas, seleccionando Opciones de Internet y accediendo a Privacidad.
Si utiliza Google Chrome, en la opción de menú Herramientas, seleccionando Opciones (Preferencias en Mac), accediendo a Avanzadas y luego en la opción Configuración Contenido de la sección Privacidad, y finalmente marcando Cookies en el diálogo Configuración de contenido.
El Usuario podrá pedir a CarMakers ampliar información acerca de las cookies poniéndose en contacto con el Centro de Atención al Cliente: info@carmakers.com.ar
                </p>
            </article>
        </section>
        
    </main>


    <script src="/js/main.js" type="module"></script>
</body>
</html>