<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="body-reg">
    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>
    <main>

                <div class="single-column">
                <form action="/users/register" method="POST" class="form-login" enctype="multipart/form-data">

                    <h2 class="titulo-login">Crear cuenta</h2>

                    <div class="correo-contra">

                        <label for="nombres" class="label-correo">Nombres</label>
                        <input type="text" name="nombres" id="nombre" required>

                        <label for="apellidos" class="label-correo">Apellidos</label>
                        <input type="text" name="apellidos" id="apellido" required>

                        <label for="email" class="label-correo">Correo electrónico</label>
                        <input type="email" name="email" id="correo" required>

                        <label for="password" class="label-contra">Contraseña</label>
                        <input type="password" name="password" id="contraseña" required>

                        <label for="imgPerfil" class="label-correo">Sube una imágen de perfil</label>
                        <input accept="image/png,image/jpeg, image/jpg" type="file" name="imgPerfil" id="imgPerfil" required> 
                        
                    </div>
                    
                    

                    <div class="div-login-button">
                        <button class="register-button" type="submit" >CREAR UNA CUENTA</button>
                    </div>

                </form>

            
            <div class="olvido">

                <div class="olvido-correo">
                    <a href="/support.html">¿Ya tiene una cuenta?</a>
                </div>

            </div>


        <div class="boton-crear-cuenta">
            <button class="account-button" type="submit" name="ingreso"><a href="/login">INICIAR SESIÓN</a></button>
        </div>

        </div>

        </main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>