<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

    <main class="mainsoporte">

        <section class="head-nosotros">

            <ul>
                <li><a href='/terminos'>Términos y Condiciones</a></li>
                <li><a href='/politica-cookies'>Política de Cookies</a></li>
                <li><a href='/politica-privacidad'>Política de Privacidad</a></li>
            </ul>    

            <h3>Sobre Nosotros</h3>

        </section>

        <section>
            <article>
                <p class="texto-sn">
                    Nuestra empresa, CarMakers S.A. invita a continuar la distinguida tradición de la estrella, por la cual posee un excelente y sostenido crecimiento basado en la confianza de sus clientes y calidad de servicios. Hoy en día se constituye como una concesionaria integral y competitiva en el mercado automotriz.

                    Por lo tanto, nuestro objetivo es la dedicación a satisfacer cada una de las necesidades y exigencias del cliente, nos focalizamos en un proceso de mejora continua y permanente en cuanto a infraestructura, servicio, tecnología, capacitación de nuestros profesionales y calidad de atención.
                    
                    Misión
                    
                    CarMakers S.A. está comprometida a desarrollar y construir la mayor cartera de clientes sumamente satisfechos, brindando una incomparable experiencia de compra o servicio de post venta, por su alto nivel de excelencia.
                    
                    Visión
                    
                    Nuestro objetivo es ser el concesionario líder en volumen, respeto y reconocimiento por parte de clientes, accionistas y funcionarios de la red de concesionarios Mercedes-Benz.
                    
                    Cultura
                    
                    Nuestra filosofía de trabajo se basa, primero, en la atención personalizada y exclusiva al cliente, conociendo y superando sus necesidades y expectativas y logrando una gran satisfacción en su experiencia por la concesionaria.
                    
                    Además, nos dedicamos a la constante profesionalización de nuestras áreas, generando equipos de trabajo proactivos, eficientes, productivos y exitosos, buscando un crecimiento personal, profesional y organizacional.
                    
                    Como resultado, esto se traduce y refleja en el día a día de nuestro trabajo, en conjunto y cooperativo, con personal dedicado, responsable y satisfecho por hacer felices a nuestros clientes.
                </p>
            </article>
        </section>
        
    </main>

    <script src="/js/main.js" type="module"></script>
</body>
</html>