<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

    <main class="mainsoporte">

        <section class="head-nosotros">

            <ul>
                <li><a href='/sobre-nosotros'>Sobre Nosotros</a></li>
                <li><a href='/politica-cookies'>Política de Cookies</a></li>
                <li><a href='/politica-privacidad'>Política de Privacidad</a></li>
            </ul>    

            <h3>Términos y Condiciones</h3>

        </section>

        <section>
            <article>
                <p class="texto-sn">
                    Introducción
A continuación, se encuentran los Términos y Condiciones de uso (“Términos y Condiciones”) del sitio de Internet ubicado en URL www.carmakers.com.ar (“Sitio”).
El responsable del Sitio es CarMakers S.A., con domicilio en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aires, Nº de CUIT 30-71556133-2, número de teléfono 11 7038 2427 y correo electrónico info@carmakerscom.ar.
Toda persona que acceda, utilice y navegue por el Sitio y/o toda persona suscripta al presente Sitio (en forma indistinta “Visitante” o “Usuario”), se encuentra obligado a cumplir y respetar los Términos y Condiciones. Asimismo, en caso que a través del acceso, utilización, navegación y/o suscripción en el Sitio se está contratando la utilización de los servicios prestados por CarMakers, de acuerdo a las cláusulas dispuestas en los Términos y Condiciones, los cuales constituyen un contrato para los Visitantes, Usuarios y CarMakers. Si no acuerda total o parcialmente sujetarse a los Términos y Condiciones, no acceda, utilice, navegue o se suscriba en el Sitio.
Objeto.
El objeto del Sitio es proporcionar información y publicidad sobre vehículos de la marca CarMakers, incluyendo distintos modelos, versiones, configuraciones, modalidades de financiación y otros servicios. La información facilitada a través del Sitio es orientativa y no exhaustiva, y no podrá ser considerada una orden de compra, pedido, una oferta de venta, financiación, arrendamiento o de otros servicios, ni como medio para suscribir ningún tipo de compraventa u otro tipo de contrato o acuerdo con CarMakers o con sus empresas vinculadas. La información referida puede no estar constantemente actualizada.
Contenidos y Usos Permitidos del Sitio.
 

A. Contenidos
El Sitio contiene información relativa a productos y servicios comercializados por CarMakers en la República Argentina.
Los vehículos exhibidos en este Sitio son comercializados a través del Concesionario CarMakers , que venden los vehículos en forma independiente. CarMakers no asume ninguna responsabilidad por las operaciones comerciales que los clientes concierten con ellos, ni por los términos y condiciones en las que estas operaciones se celebren, ni las que deriven del uso de este Sitio, todas las cuales seran siempre operaciones entre el Usuario y el Concesionario. En función de lo expresado, la información contenida en este Sitio no podrá ser considerada como una oferta ni compromiso por parte de CarMakers, y no reviste carácter contractual ni precontractual
Toda la información publicada en este Sitio web, incluyendo las imágenes, tienen fines exclusivamente informativos. Las imágenes no son contractuales. Si bien la información aquí publicada ha sido diseñada para ser lo más suficiente y detallada posible, pueden existir diferencias entre la información de este Sitio y las características de los vehículos comercializados. CarMakers no garantiza que las medidas, dimensiones, tamaños y proporciones de los vehículos, sus partes y equipamiento exhibidos a través del Sitio y del configurador sean correctas, precisas, proporcionadas o que se muestren a escala, puesto que se trata de una aplicación de realidad virtual dirigida simplemente a ofrecer información orientativa. CarMakers tampoco garantiza que los materiales, texturas, acabados, colores, prestaciones, accesorios, funcionalidades ni otros aspectos de los interiores o exteriores de los vehículos, sus partes y equipamiento que se muestren en el Sitio o el configurador se correspondan con aquellos disponibles en el mercado en cada momento.
Por tanto, CarMakers no se responsabiliza de los errores u omisiones de los que pudiera adolecer el contenido del Sitio u otros a los que se pueda acceder a través de ella.
La información sobre precios, productos, equipamientos o servicios puede ser solicitada en el Concesionarios CarMakers que se detallan en el Sitio.
CarMakers se reserva el derecho de realizar cambios en cualquier momento, sin previo aviso, en lo referente a los precios, modelos, equipamiento, especificaciones y disponibilidades, por lo que se sugiere al Usuario que verifique periódicamente el Sitio.
El Sitio podría eventualmente incluir información sobre productos o modelos de productos no comercializados en la República Argentina, al mero efecto informativo.
 

B. Usos permitidos
Sólo se permite el uso del Sitio si se respetan los presentes Términos y Condiciones y la ley aplicable. Se consideran usos prohibidos y los Usuarios se obligan a no utilizar el Sitio para:
Enviar spam, publicidad no solicitada o no autorizada, cartas encadenadas, o cualquier otro tipo de comunicaciones ilícitas;
Vulnerar derechos marcarios o cualquier otra propiedad intelectual de CarMakers o de terceros;
Suscribir más de una cuenta de Usuario a nombre de una misma persona o robarle la identidad a otra persona física o jurídica,
Realizar manifestaciones falsas o proporcionar información falsa sobre el titular del nombre de usuario y contraseña;
Cargar, transmitir, o facilitar material que contenga virus informáticos o cualquier otro código, archivo o programa informático diseñado para interrumpir, destruir o limitar la funcionalidad de cualquier software o hardware o equipo de telecomunicaciones de CarMakers;
Utilizar información o contenidos publicados en el Sitio para destinarlos a un servicio que compita con CarMakers;
Usar el Sitio en forma contraria a los Términos y Condiciones, Políticas de Privacidad, la ley y las buenas costumbres, o de cualquier forma que pueda dañar, desprestigiar, sobrecargar o perjudicar a CarMakers o a terceros;
El presente listado de conductas prohibidas es una enunciación meramente ejemplificativa de las infracciones que pueden cometer los Visitantes y Usuarios.
Defensa del consumidor
CarMakers le reconoce a los consumidores el derecho a exigir información en forma cierta, clara y detallada sobre todo lo relacionado con las características esenciales de los bienes y servicios que provee y las condiciones de su comercialización. Por lo tanto, pone a su disposición un formulario de contacto electrónico gratuito y un número de atención al cliente gratuito: 0-800-666-1518 (Lunes a Viernes de 9:00 a 18:00 hs).
Para conocer sus derechos y obligaciones, los consumidores pueden consultar la Ley de Defensa del Consumidor Nº 24.240 http://www.infoleg.gov.ar/infolegInternet/anexos/0-4999/638/texact.htm o dirigirse al sitio de la Dirección Nacional de Defensa del Consumidor https://www.argentina.gob.ar/defensadelconsumidor .
Para aquellos consumidores que tengan su domicilio dentro de la Ciudad Autónoma de Buenos Aires, podrán consultar la Ley de Defensa del Consumidor de la Ciudad Nº 2244 y los medios de reclamo y resolución de disputas en el siguiente enlace: https://www.buenosaires.gob.ar/defensaconsumidor
Propiedad intelectual
Todas las marcas, denominaciones o logos utilizados en este Sitio para identificar vehículos o servicios aquí promocionados por CarMakers (las “Marcas CarMakers”) son marcas registradas, protegidas o solicitadas por CarMakers y su uso está estrictamente prohibido.
Asimismo, CarMakers es titular de la propiedad intelectual y derechos de autor sobre los diseños, textos, marcas, gráficos, imágenes, videos, software, música, sonidos y otros contenidos existentes en el Sitio (“Contenidos de CarMakers). Los Contenidos de CarMakers no podrán ser objeto de modificaciones, copias, duplicados o imitaciones y tampoco podrán ser reproducidos, descargados, publicados, transmitidos o vendidos total o parcialmente, sin el previo consentimiento por escrito de CarMakers.
Los Usuarios y Visitantes no podrán cargar o re-publicar CarMakers y/o Contenidos de CarMakers en ningún otro sitio de Internet o cualquier otro medio de publicación, ni integrar la información en ninguna otra base de datos o compilación. Sólo se les concede el derecho a los Usuarios y Visitantes a realizar copias, descargas e impresiones de CarMakers siempre que sean para uso personal y se mantengan intactos todos los derechos de autor y propiedad intelectual de CarMakers. Esta licencia podrá ser revocada en cualquier momento y sin preaviso, con o sin causa. Salvo esta última excepción, nada de lo dispuesto en los presentes Términos y Condiciones deberá interpretarse en el sentido de otorgar una licencia de uso, expresa o tácita de las Marcas CarMakers.
El uso del Sitio o del Contenido de CarMakers en contravención a los Términos y Condiciones o la ley, le otorga a CarMakers el derecho a cancelar la suscripción de el o los Usuarios en infracción, y a reclamar los daños y perjuicios que correspondiesen.
Modificación o cancelación
CarMakers tiene la facultad de modificar o cancelar, con o sin expresión de causa, cualquier Contenido de CarMakers o suscripción de Usuarios, en cualquier momento sin previo aviso.
CarMakers se reserva el derecho de cancelar la suscripción de Usuarios y/o a dar de baja contenidos de los Usuarios cuando se hallasen en violación a los presentes Términos y Condiciones. Sin embargo, CarMakers comunicará a los Visitantes y/o Usuarios las interrupciones que tengan lugar, si las circunstancias así lo permitieran.
CarMakers no incurre en ningún tipo de responsabilidad por dichas modificaciones o cancelaciones.
Limitación de Responsabilidad.
CarMakers no es responsable por:
1. Errores en la publicación: Aunque CarMakers realizó y realizará razonables esfuerzos para incluir información precisa y actualizada en el Sitio, CarMakers no garantiza que no puedan existir diferencias, por errores u omisión, entre la información de este Sitio y las características de los productos comercializados.
2. Fallas técnicas. CarMakers no es responsable por errores, omisiones, interrupciones, eliminaciones, defectos, retrasos de funcionamiento o de transmisión, fallos de la línea de comunicaciones, robos, destrucción, acceso no autorizado o alteración del acceso al Sitio del Usuario.
3. Ataques de terceros: Queda a su exclusivo riesgo de los Visitantes y/o Usuarios el uso del Sitio. Ni CarMakers ni ninguna persona o empresa vinculado a la creación, producción o desarrollo del Sitio será responsable por ninguna clase de daños que puedan resultar de ese uso. CarMakers tampoco será responsable de cualquier daño a su equipo de computación u otro, o por cualquier virus que pueda infectarlo como consecuencia del uso del Sitio o de la transferencia de datos total o parcial a su equipo.
4. Transacciones que deriven del uso del Sitio: CarMakers no asume responsabilidad alguna respecto de las transacciones comerciales que se deriven del uso del Sitio, que serán siempre operaciones entre comprador y vendedor en las cuales CarMakers es un tercero ajeno. El uso que los Visitantes y Usuarios hagan de la página no podrá ser interpretado como un contrato de sociedad, mandato o agencia o que, de algún modo, genere algún tipo de relación con CarMakers. Los precios indicados son sugeridos al público. Los concesionarios vendedores pactarán con los Visitantes y/o Usuarios, en cada caso, el precio final, que dependerá de factores y negociación que escapan a CarMakers, que resulta ajena a tales negociaciones. Es por estas razones que CarMakers específicamente, no asume compromiso alguno respecto a dichos precios ni respecto de dichas operaciones.
El Sitio le brinda a los Visitantes una experiencia de navegación en un entorno seguro, utilizando para tales fines antivirus, firewalls y otras tecnologías. CarMakers no se hace responsable por los posibles ataques, phishing, pharming o cualquier otro evento de fuerza mayor que pueda vulnerar al Sitio.
5. El ingreso de los Usuarios a otros sitios web por medio de vínculos publicados en el presente Sitio. CarMakers no será responsable ni garantiza la precisión, amplitud o veracidad de la información contenida en ninguno de dichos sitios de Internet. El acceso a cualquiera de dichos sitios será bajo exclusiva responsabilidad del Usuario.
Denuncias.
En caso de que cualquier Visitante o Usuario sostenga que en el Sitio podría haber una violación a los Términos y Condiciones o tuviese cualquier otro reclamo, podrá dirigir tal denuncia a la siguiente dirección de correo electrónico: info@carmakers.com.ar
Miscelánea.
A. Ley aplicable
Las presentes Políticas de Privacidad deben ser interpretadas conforme a las leyes de la República Argentina, excluyendo la aplicación de cualquier norma de conflicto que reenvíe a la aplicación de otra ley.
B. Jurisdicción
Todas las controversias que deriven de estas Políticas de Privacidad o que guarden relación con éstos serán resueltas definitivamente por los tribunales ordinarios de la Ciudad Autónoma de Buenos Aires, con renuncia a cualquier otro fuero o jurisdicción.
C. Notificaciones
Para todos los efectos judiciales y extrajudiciales, CarMakers constituye domicilio legal en RUTA PANAMERICANA KM 51.5 0 PILAR, Pcia. de Buenos Aire, donde serán válidas todas las notificaciones referidas al uso del Sitio. Las notificaciones deberán ser realizadas por carta documento, telegrama, o cualquier otro medio fehaciente y no se considerarán efectuadas si no existiese constancia de recepción por una persona autorizada por CarMakers a tales fines (funcionarios, empleados, apoderados).
D. Modificación
CarMakers se reserva el derecho a modificar total o parcialmente las Políticas de Privacidad, en cualquier momento y sin previo aviso. Si sucede cualquier modificación, se publicará la misma en el Sitio y si el Usuario persiste en la navegación en el Sitio y/o suministra datos y/o utiliza los servicios prestados, se considerará que ha aceptado implícitamente las nuevas Políticas de Privacidad. Los Visitantes tienen la responsabilidad de visitar regularmente el Sitio para controlar si ha habido cambios a las Políticas de Privacidad de CarMakers.
                </p>
            </article>
        </section>
        
    </main>


    <script src="/js/main.js" type="module"></script>
</body>
</html>