<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

    <main class="mainsoporte">

        <section class="head-nosotros">

            <ul>
                <li><a href='/sobre-nosotros'>Sobre Nosotros</a></li>
                <li><a href='/politica-cookies'>Política de Cookies</a></li>
                <li><a href='/politica-privacidad'>Política de Privacidad</a></li>
            </ul>    

            <h3>Términos y Condiciones</h3>

        </section>

        <section>
            <article>
                <p class="texto-sn">
                    The California Department of Fair Employment and Housing (DFEH) intends to file a lawsuit against Tesla alleging systematic racial discrimination and harassment. This follows a three-year investigation during which the DFEH—whose mission is supposedly to protect workers—has never once raised any concern about current workplace practices at Tesla. Rather, the lawsuit appears focused on alleged misconduct by production associates at the Fremont factory that took place between 2015 and 2019.

Tesla strongly opposes all forms of discrimination and harassment and has a dedicated Employee Relations team that responds to and investigates all complaints. We also have a Diversity, Equity, and Inclusion team whose work is shown in this public report. Tesla has always disciplined and terminated employees who engage in misconduct, including those who use racial slurs or harass others in different ways. We recently rolled out an additional training program that reinforces Tesla’s requirement that all employees must treat each other with respect and reminds employees about the numerous ways they can report concerns, including anonymously. Above all, Tesla continues to seek to provide a workplace that is safe, respectful, fair, and inclusive­—all of which are vital to achieving our mission.

Tesla is also the last remaining automobile manufacturer in California. The Fremont factory has a majority-minority workforce and provides the best paying jobs in the automotive industry to over 30,000 Californians. No company has done more for sustainability or the creation of clean energy jobs than Tesla. Yet, at a time when manufacturing jobs are leaving California, the DFEH has decided to sue Tesla instead of constructively working with us. This is both unfair and counterproductive, especially because the allegations focus on events from years ago.

Over the past five years, the DFEH has been asked on almost 50 occasions by individuals who believe they were discriminated against or harassed to investigate Tesla. On every single occasion, when the DFEH closed an investigation, it did not find misconduct against Tesla. It therefore strains credibility for the agency to now allege, after a three-year investigation, that systematic racial discrimination and harassment somehow existed at Tesla. A narrative spun by the DFEH and a handful of plaintiff firms to generate publicity is not factual proof.

Once the DFEH files its lawsuit, Tesla will be asking the court to pause the case and take other steps to ensure that facts and evidence will be heard. To date, despite repeated requests, the DFEH has declined to provide Tesla with the specific allegations or the factual bases for its lawsuit. Attacking a company like Tesla that has done so much good for California should not be the overriding aim of a state agency with prosecutorial authority. The interests of workers and fundamental fairness must come first.
                </p>
            </article>
        </section>
        
    </main>


    <script src="/js/main.js" type="module"></script>
</body>
</html>