<footer id="footer-carrito">

    <div class="copy-carrito">
        <p class="car-carrito">CarMakers © 2022</p>
    </div>

    <div class="links-carrito">
        <a href="/sobrenosotros.html">Sobre Nosotros</a>
        <a href="/terminos.html">Términos y condiciones</a>
    </div>

</footer>