<footer class="footerprueba">

    <div>
        <p class="car-footer">CarMakers © 2022</p>
    </div>

    <div class="links-footer">
        <a href="/sobrenosotros.html">Sobre Nosotros</a>
        <a href="/terminos.html">Términos y Condiciones</a>
    </div>

</footer>
