<footer class="footerResumido">

    <div>
        <p class="car-footer">CarMakers © 2022</p>
    </div>

    <div class="links-footer">
        <a href="/construccion">Sobre Nosotros</a>
        <a href="/construccion">Términos y Condiciones</a>
    </div>

</footer>
