<footer>
    
    <section class="footer-nav">

            <div class="div-footer">
                <form action="/" method="POST" class="form-footer">
                    <h5>Sumate al newsletter</h5>
        
                    <input type="email" placeholder="email@ejemplo.com" class="email" name="emailNL" id="emailNL">
        
                    <div class="terminos">
                        <input type="checkbox" name="email" value="email" id='email'>
                        <% if(locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                        <label for="email" name="acepto">Acepto términos y condiciones</label>
                    </div>
        
                    <button type="submit" class="suscribirme">SUSCRIBIRME</button>
                </form>
            </div>


            <div class="links-nav">
                <a href="/construccion">Sobre Nosotros</a>
                <a href="/construccion">Términos y condiciones</a>
                <a href="/construccion">Política de cookies</a>
                <a href="/construccion">Política de privacidad</a>
            </div>
        


            <div class="footer-item" id="social">
                <div class="social-media">
                    <h5>Seguínos en</h5>
                    <article class="iconos">
                        <a target="_blank" href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
                        <a target="_blank" href="https://linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a target="_blank" href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
                        <a target="_blank" href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                        <a target="_blank" href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    </article>
                </div>
            </div>

    </section>

    
    <div class="copy-nav">
        <p class="veinte">CarMakers © 2022, </p>
        <p class="derechos">Todos los derechos reservados</p>
    </div>
    

</footer>