<header>

    <div class="barra-blanca">
<!--Navegador mobile-->
        <nav class="navbar">
            <a href="/"><h1>CARMAKERS</h1></a>
            <button class="cruz" type="button"><i class="fa-solid fa-xmark"></i></button>
            <ul class="enlaces-menu">
                <li><a href="/login" class="cuenta">Cuenta</a></li>
                <li><a href="/Carrito">Carrito</a></li>
                <li><a href="/Carrito">Comprar</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                <li><a href="/Contacto">Soporte</a></li>
                <li><a href="/crearproducto">Crear Producto</a></li>
                <li><a href="/editarproducto">Editar Producto</a></li>
            </ul>



            <button class="menu" type="button">Menú</button>
            <button class="cuenta-button" type="button"><a href="/login">Cuenta</a></button>
            <button class="carrito-button" type="button"><a href="/Carrito">Carrito</a></button>

            
                <ul class="enlaces-productos" id="ocultar-nav">
                    <% for(i=1; i<6; i++){ %>
                    <li>Modelo</li>
                    <% } %>
                </ul>

    </nav>


    </div>

</header>