<header>
    <a href="/" class="carmakers-nav"><h1>CARMAKERS</h1></a>
    
    <nav>
        <ul class="ul-botones">
            <li><button type="button">Menú</button></li>
            <li><button type="button"><a href="/login">Cuenta</a></button></li>
            <li><button type="button"><a href="/Carrito">Carrito</a></button></li>
        </ul>
    </nav>

</header>
