<header>

        <nav>

            <div>a</div>
            <div> <a href="/"><h1>CARMAKERS</h1></a> </div>
            <div class="div-enlace">
                <ul class="enlaces-productos">
                <% for(i=1; i<6; i++){ %>
                <li><a href="#seccion-<%=i%>">Modelo <%=i%></a></li>
                <% } %>
            </ul>
            </div>

            <div class="div-botonn">        
                <ul class="botones-nav">
                <li><button class="menu" type="button">Menú</button></li>
                <li><button class="cuenta-button" type="button"><a href="/login">Cuenta</a></button></li>
                <li><button class="carrito-button" type="button"><a href="/Carrito">Carrito</a></button></li>
            </ul>
        </div>


            <div>e</div>
        </nav>
    
    </header>

