<header>

<!--Navegador mobile-->
        <nav class="navbar">
            <div class="barra-blanca">
            <a href="/"><h1>CARMAKERS</h1></a>

            <!--
            <button class="cruz" type="button"><i class="fa-solid fa-xmark"></i></button>
            <ul class="enlaces-menu">
                <li><a href="/login" class="cuenta">Cuenta</a></li>
                <li><a href="/products/Carrito">Carrito</a></li>
                <li><a href="/products">Todos los productos</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                <li><a href="/Contacto">Soporte</a></li>
                <li><a href="/products/crearproducto">Crear Producto</a></li>
                <li><a href="/products/editarproducto">Editar Producto</a></li>
            </ul>
            -->

                <ul class="enlaces-productos">
                    <% for(i=1; i<6; i++){ %>
                    <li><a href="#seccion-<%=i%>">Modelo <%=i%></a></li>
                    <% } %>
                </ul>


            <ul class="botones-nav">
                <li><button class="menu" type="button">Menú</button></li>
                <li><button class="cuenta-button" type="button"><a href="/login">Cuenta</a></button></li>
                <li><button class="carrito-button" type="button"><a href="/Carrito">Carrito</a></button></li>
            </div>
        </div>
    </nav>



</header>