<button class="cruz" type="button"><i class="fa-solid fa-xmark"></i></button>
<ul class="enlaces-menu">
    <% if(!locals.isLogged) { %> 
        <li><a href="/users/login" class="cuenta">Iniciar Sesión</a></li>
        <li><a href="/users/register" class="cuenta">Crear Cuenta</a></li>
    <% } %>
    <% if(locals.isLogged) { %> 
        <li><a href="/users/login" class="cuenta">Cuenta</a></li>
    <% } %>
    <li><a href="/carrito">Carrito</a></li>
    <li><a href="/products">Todos los productos</a></li>
    <% if(locals.isLogged) { %>
        <% if(locals.userLogged.is_admin == 1) { %> 
            <li><a href="/users">Todos los usuarios</a></li>
            <li><a href="/users/">Editar Usuario</a></li>
            <li><a href="/products/create">Crear Producto</a></li>
            <li><a href="/products">Editar Producto</a></li>
        <% } %>
    <% } %>
</ul>

