<% for(i=0; i < productos.length; i++) { %>

    <section id="seccion-<%=(i+1)%>">

        <div class="texto-uno">
            <h2 class="nombre-auto-uno">Modelo <%= i + 1 %> </h2>
            <h3 class="desc-auto-uno">Conocé <a href="#seccion-1">acá</a> ofertas exclusivas</h3>
        </div>
    
        <div class="botones-container">
        <div class="botones">
            <a href="/products/detail/<%= productos[i].idModelo %>">
                <button type="button" class="saber-mas">SABER MÁS</i></button>
            </a>
    
            <a href="/products/carrito">
                <button type="button" class="compra-ahora">COMPRAR AHORA</i></button>
            </a>
         
        </div>
        
    </div>
    
    <div class="icon-arrow">
        <a href="#seccion-<%=(i)%>"><i class="fas fa-solid fa-angle-down"></i></a>
    </div>
    </section>


<% } %>
