.dash-title{
  margin:0;
  padding: 25px 0 25px 50px;
  background-color: rgb(255, 255, 255);
  color:#11151a;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1em;
  font-weight: 500;
  box-shadow:  rgba(0, 0, 0, 0.13) -50px 10px 50px;
}

.item-title{
  margin: 50px 0 0 0;
  padding:0;
  color:#11151a;
  font-family: 'Raleway', 'sans-serif';
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.total-user-title{
  margin: 5px 0 0 0;
  padding:0;
  color:#11151a;
  font-family: 'Roboto', 'sans-serif';
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}

.li{
  list-style: none;
  margin: 0 20px;
}

.li-prod{
  list-style: none;
  margin: 0 20px;
  width: 100%;
}

.ul-lista{
  display: flex;
  overflow-x: scroll;
  margin: 50px auto;
  padding:0;
  width: 90%;
}

.important{
  margin: 0;
  padding:0;
  color:#11151a;
  font-family: 'Raleway', 'sans-serif';
  font-size: 1.2em;
  font-weight: 600;
}

.less-imp{
  margin: 0;
  padding:0;
  color:#11151a;
  font-family: 'Raleway', 'sans-serif';
  font-size: 1em;
  font-weight: 500;
}

.ul-listaUsuarios{
  margin:0;
  padding:0;
}

.name-model{
  color:red;
}